<div class="content-area">
    <button mat-fab class="fab-button" (click)="loadData()"><mat-icon>sync</mat-icon></button>
    <div class="content">
        <div class="section-wrapper">
            <div class="header actionbar align-content-top">
                <div class="title actionbar-section align-content-top">
                    <h1>Lpns List</h1>
                </div>
                <div class="actions actionbar-section right">
                    <!--button mat-raised-button color="warn" (click)="export()">
                        <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                    </button-->
                    <button mat-raised-button color="accent" (click)="generate()" class="ml-2">
                        <mat-icon>add</mat-icon> <span class="btn-label">Generate</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-card class="lpns-card">
                    <mat-card-title>
                        LPNS List
                        <div class="more-button" [matMenuTriggerFor]="menulpn">
                            <mat-icon>more_vert</mat-icon>
                        </div>
                        <mat-menu #menulpn="matMenu" (click)="$event.stopPropagation()">
                            <div class="p-2" (click)="$event.stopPropagation()">
                                <form [formGroup]="filtersForm" (ngSubmit)="applyFilters()">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Code</label>
                                                <input type="text" class="form-control" formControlName="code">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Type</label>
                                                <select class="form-control" formControlName="type">
                                                    <option *ngFor="let type of selectsData.types | async"
                                                    [value]="type">{{type}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <select class="form-control" formControlName="state">
                                                    <option *ngFor="let state of selectsData.states | async"
                                                    [value]="state">{{states[state]}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Interface</label>
                                                <select class="form-control" formControlName="interface">
                                                    <option *ngFor="let interface of selectsData.interfaces | async"
                                                    [value]="interface">{{states[interface]}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <mat-slide-toggle  color="primary" formControlName="labelWithMaterial">
                                                    Label with material
                                                </mat-slide-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button mat-raised-button type="reset" (click)="resetFilters()">Reset filters</button>
                                            <button mat-raised-button type="submit" color="primary">Filter</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </mat-menu>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="example-loading-shade" *ngIf="dataSource.loading$ | async">
                            <mat-spinner class="spinner"></mat-spinner>
                        </div>
                        <div class="tree">
                            <tree-root
                            #tree
                            [nodes]="dataSource.data"
                            [options]="options"
                            (select)="onSelect($event)"
                            (deselect)="onDeSelect($event)"
                            (activate)="viewLpnsDetail($event.node.data)">
                                <ng-template #treeNodeTemplate let-node let-index="index">
                                    <div [contextMenu]="node.data.id.includes('IT') ? lpnChildMenu : lpnFatherMenu"
                                    [contextMenuSubject]="node">
                                        <mat-icon *ngIf="node.data.id.includes('IT')" color="accent" style="font-size: 15px;">local_offer</mat-icon>
                                        <span>{{ node.data.name }}</span>
                                    </div>
                                </ng-template>
                            </tree-root>
                            <context-menu #lpnFatherMenu>
                                <ng-template contextMenuItem (execute)="executeContext('details', $event.item.data)">
                                    View Details
                                </ng-template>
                            </context-menu>
                            <context-menu #lpnChildMenu>
                                <ng-template contextMenuItem (execute)="executeContext('details', $event.item.data)">
                                    View Details
                                </ng-template>
                                <ng-template contextMenuItem (execute)="executeContext('print', $event.item.data)">
                                    Print Label
                                </ng-template>
                                <ng-template contextMenuItem (execute)="executeContext('realocate', $event.item.data)">
                                    Realocate
                                </ng-template>
                                <ng-template contextMenuItem (execute)="executeContext('transfer', $event.item.data)">
                                    Transfer
                                </ng-template>
                            </context-menu>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-paginator
                            [length]="length"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = $event">
                        </mat-paginator>
                    </mat-card-actions>
                    <mat-card-footer>
                    </mat-card-footer>
                </mat-card> 
            </div>
            <div class="col-sm-6">
                <mat-card class="lpns-card">
                    <mat-card-title>
                        Selected LPNS Details
                        <div class="more-button" [matMenuTriggerFor]="menulpnd"
                        *ngIf="selectedLpns && (selectedLpns.lpnItemId && selectedLpns.lpnItemId > 0) ||
                        (selectedLpns.lpnId && selectedLpns.lpnId > 0)">
                            <mat-icon>more_vert</mat-icon>
                        </div>
                        <mat-menu #menulpnd="matMenu">
                            <div mat-menu-item (click)="openPrintDialog()" *ngIf="selectedLpns.lpnItemId">Print</div>
                            <div mat-menu-item>Realocate</div>
                            <div mat-menu-item>Transfer</div>
                        </mat-menu>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="example-loading-shade" *ngIf="isLoadingLpnsDetail">
                            <mat-spinner *ngIf="isLoadingLpnsDetail" class="spinner"></mat-spinner>
                        </div>
                        <!-- campos para lpn item (lpn hijo) -->
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.lpnItemId">
                            <div class="col-sm-4">
                                <strong>Item ID</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.lpnItemId}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.sku">
                            <div class="col-sm-4">
                                <strong>Sku</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.sku}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.skuDescription">
                            <div class="col-sm-4">
                                <strong>Sku Description</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.skuDescription}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.itemType">
                            <div class="col-sm-4">
                                <strong>Item Type</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.itemType}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.qty">
                            <div class="col-sm-4">
                                <strong>Quantity</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.qty}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.qtyAvailable">
                            <div class="col-sm-4">
                                <strong>Quantity Available</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.qtyAvailable}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.qtyBooking">
                            <div class="col-sm-4">
                                <strong>Quantity Booking</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.qtyBooking}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.serial">
                            <div class="col-sm-4">
                                <strong>Serial</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.serial}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.batchNumber">
                            <div class="col-sm-4">
                                <strong>Batch Number</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.batchNumber}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.weight">
                            <div class="col-sm-4">
                                <strong>Weight</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.weight}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.expiryDate">
                            <div class="col-sm-4">
                                <strong>Expiry Date</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.expiryDate}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.createdDate">
                            <div class="col-sm-4">
                                <strong>Created Date</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.createdDate}}
                            </div>
                        </div>
                        <!-- fin campos lpn item (lpn hijos) -->
                        <!-- campos para lpn padre -->
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.lpnId">
                            <div class="col-sm-4">
                                <strong>ID</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.lpnId}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.code">
                            <div class="col-sm-4">
                                <strong>Code</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.code}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.lpnType">
                            <div class="col-sm-4">
                                <strong>Type</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.lpnType}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.lpnState">
                            <div class="col-sm-4">
                                <strong>State</strong>
                            </div>
                            <div class="col-sm-8">
                                {{states[selectedLpns.lpnState]}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.locationType">
                            <div class="col-sm-4">
                                <strong>Location Type</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.locationType}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.locationState">
                            <div class="col-sm-4">
                                <strong>Location State</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.locationState}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.activationDate">
                            <div class="col-sm-4">
                                <strong>Activation Date</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.activationDate}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.openingDate">
                            <div class="col-sm-4">
                                <strong>Opening Date</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.openingDate}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.closingDate">
                            <div class="col-sm-4">
                                <strong>Closing Date</strong>
                            </div>
                            <div class="col-sm-8">
                                {{selectedLpns.closingDate}}
                            </div>
                        </div>
                        <div class="row pt-2 pb-2" *ngIf="selectedLpns.lpnInterface">
                            <div class="col-sm-4">
                                <strong>Interface</strong>
                            </div>
                            <div class="col-sm-8">
                                {{states[selectedLpns.lpnInterface]}}
                            </div>
                        </div>
                        <!-- fin campos lpn padre -->
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                    <mat-card-footer>
                    </mat-card-footer>
                </mat-card> 
            </div>
        </div>
    </div>
</div>