body{
    overflow-y: hidden;
}
mat-sidenav-container{
    height: 100%;
}
mat-sidenav{
    background-color: #00b19d;
    width: 220px;
    max-width: 220px;
}
.sidenav-item-1{
    font-size: 13px;
}
.sidenav-item-2 {
    padding-left: 1rem !important;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 0px;
    font-size: 13px;
}
.sidenav-item-3 {
    padding-left: 1.5rem !important;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 0px;
    font-size: 13px;
}
.mat-drawer-content .mat-toolbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    height: 3.5rem;
}
.mat-h1{
    padding: 20px;
    color: #00535e;
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 32px;
    font-family: "Roboto",sans-serif;
}
.mat-expansion-panel-header:before {
    content: " ";
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    border-top: 1px solid rgba(0,0,0,0.07);
}
.mat-expansion-panel-header{
    height: 40px !important;
}
.mat-list-base .mat-list-item{
    color: white;
    height: unset;
}

.mat-drawer .mat-nav-list .material-icons{
    font-size: 20px;
}
.mat-nav-list .mat-list-item{
    transition: background 0.5s;
}
.mat-sidenav-content .mat-toolbar{
    background-color: white;
}
mat-form-field.fluid{
    width: 100%;
}
.mat-expansion-panel-header {
    font-size: 16px;
}
.logout-button {
    position: absolute !important;
    right: 3%;
}
.toolbar-username{
    position: absolute;
    right: 10%;
}
a.mat-list-item.active .mat-list-item-content:before {
    content: " ";
    position: absolute;
    border-left: 3px solid #bfcd31 !important;
    height: 100%;
    width: 2px;
    left: 0px;
    background: rgba(0,0,0,0.03);
}