<mat-sidenav-container class="sidenav-container">
  
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        attr.role="navigation"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="!mobileQuery.matches">
      <!--ng-scrollbar-->
        <mat-toolbar color="primary">Pick Voice</mat-toolbar>
        <mat-nav-list>
          <span *ngFor="let option of menuOptions">
            <!-- si el item de primer nivel no tiene hijos -->
            <a *ngIf="option.children.length === 0" mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" [routerLink]="option.route" routerLinkActive="active">
              <mat-icon *ngIf="option.icon" aria-hidden="true" class="pt-1">{{option.icon}}</mat-icon>
              <span class="pl-2 pt-1 sidenav-item-1">{{option.text | uppercase}}</span>
            </a>
            <!-- si el item de primer nivel si tiene hijos -->
            <mat-accordion [displayMode]="flat" *ngIf="option.children.length > 0">
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  <mat-icon *ngIf="option.icon" aria-hidden="true" class="pt-1">{{option.icon}}</mat-icon>
                  <span class="pl-2 pt-1 sidenav-item-1">{{option.text | uppercase}}</span>
                </mat-expansion-panel-header>
                <span *ngFor="let child2 of option.children">
                    <!-- si el item de segundo nivel no tiene hijos -->
                    <a *ngIf="child2.children.length === 0" mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" [routerLink]="child2.route" routerLinkActive="active">
                      <!--mat-icon *ngIf="child2.icon" aria-hidden="true" class="pt-1">{{child2.icon}}</mat-icon-->
                      <span class="sidenav-item-2">{{child2.text}}</span>
                    </a>
                    <!-- si el item de segundo nivel si tiene hijos -->
                    <mat-accordion [displayMode]="flat" *ngIf="child2.children.length > 0">
                      <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                          <!--mat-icon *ngIf="child2.icon" aria-hidden="true" class="pt-1">{{child2.icon}}</mat-icon-->
                          <span class="sidenav-item-2">{{child2.text}}</span>
                        </mat-expansion-panel-header>
                        <span *ngFor="let child3 of child2.children">
                            <!-- hasta el 3er nivel se aceptan hijos -->
                            <a *ngIf="child3.children.length === 0" mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" [routerLink]="child3.route" routerLinkActive="active">
                              <!--mat-icon *ngIf="option.icon" class="pt-1" aria-hidden="true">{{child3.icon}}</mat-icon-->
                              <span class="sidenav-item-3">{{child3.text}}</span>
                            </a>
                          </span>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </span>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
        </mat-nav-list>
      <!--/ng-scrollbar-->
    </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="light">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!--small class="toolbar-username">Logged in as {{ username }}</small-->
      <!--button type="button" mat-icon-button (click)="logout()" color="primary" class="logout-button"-->
        <!--mat-icon aria-label="Logout">power_settings_new</mat-icon>
      <button/-->
      <button mat-mini-fab color="primary" [matMenuTriggerFor]="userMenu" class="logout-button">{{ username ? username[0] : '' | uppercase}}</button>
      <mat-menu #userMenu="matMenu" class="user-menu" xPosition="before">
        <p class="p-3">Choose an option</p>
        <button mat-menu-item>Option 1</button>
        <button mat-menu-item>Option 2</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
