/*$primary: #00b19d;
$accent: #00535e;
$secondary: #00535e;*/
body{
    overflow-y: hidden;
}
mat-sidenav-container{
    height: 100%;
}
mat-sidenav{
    background: var(--secondary);
    background: -moz-linear-gradient(0deg, var(--secondary) 50%, var(--primary) 100%);
    background: -webkit-linear-gradient(0deg, var(--secondary) 50%, var(--primary) 100%);
    background: linear-gradient(0deg, var(--secondary) 50%, var(--primary) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004B99",endColorstr="#0A1060",GradientType=1);
    width: 220px;
    max-width: 220px;
}
.sidenav-item-1{
    font-size: 13px;
}
.sidenav-item-2 {
    padding-left: 1rem !important;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 0px;
    font-size: 13px;
}
.sidenav-item-3 {
    padding-left: 1.5rem !important;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 0px;
    font-size: 13px;
}
.mat-drawer-content .mat-toolbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    height: 3.5rem;
}
.mat-h1{
    padding: 20px;
    color: var(--accent);
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 32px;
    font-family: "Roboto",sans-serif;
}
.mat-expansion-panel-header:before {
    content: " ";
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    border-top: 1px solid rgba(0,0,0,0.07);
}
.mat-expansion-panel-header{
    height: 40px !important;
}
.mat-list-base .mat-list-item{
    color: white;
    height: 40px;
}

.mat-drawer .mat-nav-list .material-icons{
    font-size: 20px;
}
.mat-nav-list .mat-list-item, .mat-expansion-panel{
    transition: background 0.5s;
}
.mat-toolbar.mat-primary {
    background: transparent;
    color: white;
}
mat-form-field.fluid{
    width: 100%;
}
.mat-expansion-panel-header {
    font-size: 16px;
}
.logout-button {
    position: absolute !important;
    right: 3%;
    box-shadow: unset;
    font-size: 16px;
}
.toolbar-username{
    position: absolute;
    right: 10%;
}
a.mat-list-item.active .mat-list-item-content:before {
    content: " ";
    position: absolute;
    border-left: 3px solid #bfcd31 !important;
    height: 100%;
    width: 2px;
    left: 0px;
    background: rgba(0,0,0,0.03);
}
.internet-status{
    padding: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    transition: background-color 2s;
    color: white;
    z-index: 1;
}
.internet-status.offline {
    background-color: rgba(198, 12, 12, 0.8);
}
.internet-status.online {
    background-color: rgba(8, 198, 12, 0.8);
}
a.mat-list-item.ng-star-inserted.active:before {
    /*content: '\11';
    position: absolute;
    font-size: xx-large;
    right: 0;
    margin-top: 6px;
    padding-top: 5px;*/
}
mat-sidenav mat-toolbar{
    height: unset;
}
