<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      attr.role="navigation"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches">
    <mat-toolbar color="primary">Pick Voice</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" routerLink="/pages/dashboard" routerLinkActive="active"><mat-icon class="mr-3" aria-hidden="true">home</mat-icon> Dashboard</a>
      <mat-accordion [displayMode]="flat">
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-icon class="mr-3" aria-hidden="true">settings</mat-icon>
            Manteinance
          </mat-expansion-panel-header>
          <a mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" routerLink="/pages/importaritems" routerLinkActive="active">Import Items</a>
          <a mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" routerLink="/pages/importarubicaciones" routerLinkActive="active">Import Locations</a>
          <a mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" routerLink="/pages/importarpedidos" routerLinkActive="active">Import Orders</a>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-icon class="mr-3" aria-hidden="true">input</mat-icon>
            Options
          </mat-expansion-panel-header>
          <a mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" routerLink="/pages/dashboard" >Option 1</a>
          <a mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" routerLink="/pages/importaritems">Option 2</a>
          <a mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" routerLink="/pages/importarubicaciones">Option 3</a>
          <a mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" routerLink="/pages/importarpedidos">Option 4</a>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="light">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
