<mat-sidenav-container class="sidenav-container">
  
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        attr.role="navigation"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="!mobileQuery.matches">
      <!--ng-scrollbar-->
        <mat-toolbar color="primary">
          <img src="assets/images/logo-w.png" width="100%">
        </mat-toolbar>
        <mat-nav-list>
          <span *ngFor="let option of menuOptions">
            <!-- si el item de primer nivel no tiene hijos -->
            <a *ngIf="option.children.length === 0" mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" [routerLink]="option.route" routerLinkActive="active" [target]="option.target">
              <mat-icon *ngIf="option.icon" aria-hidden="true" class="pt-1">{{option.icon}}</mat-icon>
              <span class="pl-2 pt-1 sidenav-item-1">{{option.text | uppercase}}</span>
            </a>
            <!-- si el item de primer nivel si tiene hijos -->
            <mat-accordion [displayMode]="flat" *ngIf="option.children.length > 0">
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  <mat-icon *ngIf="option.icon" aria-hidden="true" class="pt-1">{{option.icon}}</mat-icon>
                  <span class="pl-2 pt-1 sidenav-item-1">{{option.text | uppercase}}</span>
                </mat-expansion-panel-header>
                <span *ngFor="let child2 of option.children">
                    <!-- si el item de segundo nivel no tiene hijos -->
                    <a *ngIf="child2.children.length === 0" mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" [routerLink]="child2.route" routerLinkActive="active" [target]="child2.target">
                      <!--mat-icon *ngIf="child2.icon" aria-hidden="true" class="pt-1">{{child2.icon}}</mat-icon-->
                      <span class="sidenav-item-2">{{child2.text}}</span>
                    </a>
                    <!-- si el item de segundo nivel si tiene hijos -->
                    <mat-accordion [displayMode]="flat" *ngIf="child2.children.length > 0">
                      <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                          <!--mat-icon *ngIf="child2.icon" aria-hidden="true" class="pt-1">{{child2.icon}}</mat-icon-->
                          <span class="sidenav-item-2">{{child2.text}}</span>
                        </mat-expansion-panel-header>
                        <span *ngFor="let child3 of child2.children">
                            <!-- hasta el 3er nivel se aceptan hijos -->
                            <a *ngIf="child3.children.length === 0" mat-list-item (click)="mobileQuery.matches ? drawer.close() : null" [routerLink]="child3.route" routerLinkActive="active" [target]="child3.target">
                              <!--mat-icon *ngIf="option.icon" class="pt-1" aria-hidden="true">{{child3.icon}}</mat-icon-->
                              <span class="sidenav-item-3">{{child3.text}}</span>
                            </a>
                          </span>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </span>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
        </mat-nav-list>
      <!--/ng-scrollbar-->
    </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="light">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!--small class="toolbar-username">Logged in as {{ username }}</small-->
      <!--button type="button" mat-icon-button (click)="logout()" color="primary" class="logout-button"-->
        <!--mat-icon aria-label="Logout">power_settings_new</mat-icon>
      <button/-->
      <button mat-mini-fab color="primary" [matMenuTriggerFor]="userMenu" class="logout-button">{{ (username ? username[0] : '') | uppercase}}</button>
      <mat-menu #userMenu="matMenu" class="user-menu" xPosition="before">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div class="status-bar">
      <!--ul class="user-data">
        <li><strong class="text-accent">City:</strong> {{memberData.cityName}}</li>
        <li><strong class="text-accent">Plant:</strong> {{memberData.plantName}}</li>
        <li><strong class="text-accent">Depot:</strong> {{memberData.depotName}}</li>
        <li><strong class="text-accent">Owner:</strong> {{memberData.ownerName}}</li>
      </ul-->
      <div class="row">
        <i class="fa fa-arrow-up up-arrow" (click)="toggleStatusBar()"></i>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
            <strong class="text-accent">City:</strong> {{memberData.cityName}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
            <strong class="text-accent">Plant:</strong> {{memberData.plantName}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
            <strong class="text-accent">Depot:</strong> {{memberData.depotName}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
            <strong class="text-accent">Owner:</strong> {{memberData.ownerName}}
        </div>
      </div>
      <span class="tools">
        <a href="javascript: void(0);" (click)="changeUserData()">Change user data</a>
      </span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div [class]="'internet-status ' + internetStatus" *ngIf="showInternetStatus">{{ internetStatusMessage }}</div>
