<h2 mat-dialog-title>Admin Templates</h2>
<div mat-dialog-content>
    <div class="row">
        <div class="col-3">
            <div class="row p-2">
                <input type="text" class="form-control" placeholder="Filter" [formControl]="filterInput">
            </div>
            <div class="list-group">
                <div class="example-loading-shade" *ngIf="isLoadingList">
                    <mat-spinner class="spinner"></mat-spinner>
                </div>
                <a href="#" class="list-group-item list-group-item-action" (click)="selectedTemplate = template"
                *ngFor="let template of templates" [ngClass]="{'active': selectedTemplate.id === template.id}">
                    {{template.name}}
                </a>
            </div>
        </div>
        <div class="col-6">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="form-group row">
                        <label class="col-3 col-form-label pl-0">Code</label>
                        <div class="col">
                            <input type="text" class="form-control" formControlName="code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label pl-0">Name</label>
                        <div class="col">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label pl-0">Description</label>
                        <div class="col">
                            <input type="text" class="form-control" formControlName="description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label pl-0">Enable Date</label>
                        <div class="col">
                            <input type="date" class="form-control" formControlName="enableDate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label pl-0">Type</label>
                        <div class="col">
                            <select [formControl]="labelTypeId" class="form-control">
                                <option *ngFor="let opt of types | async" [ngValue]="opt.id">
                                    {{ opt.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button mat-raised-button color="primary" *ngIf="viewMode === 'view'" type="button" (click)="edit()">Editar</button>
                    <button mat-raised-button color="primary" *ngIf="viewMode === 'view'" type="submit" (click)="save()">Guardar</button>
                    <button mat-raised-button color="primary" *ngIf="viewMode === 'edit'" type="reset" (click)="cancel()">Cancelar</button>
                    <button mat-raised-button color="accent" class="float-left" type="button" (click)="delete()">Eliminar</button>
                </div>
            </form>
        </div>
        <div class="col-3">
            <div class="template-preview">
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="close()">CLOSE</button>
</div>