<h2 mat-dialog-title>
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer2.toggle()" class="btn-menu">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    Select Data Source
</h2>
<div mat-dialog-content>
    <mat-drawer-container>
        <mat-drawer #drawer2
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="!mobileQuery.matches">
            <mat-nav-list>
                <!--a mat-list-item *ngIf="fileName.length > 0" (click)="goBack()"><mat-icon class="mr-3" aria-hidden="true">arrow_back_ios</mat-icon> Back</a-->
                <mat-list-item *ngIf="fileName.length > 0"><mat-icon class="mr-3" aria-hidden="true">insert_drive_file</mat-icon> {{fileName}}</mat-list-item>
                <a mat-list-item *ngFor="let sheet of sheets" (click)="changeSheet(sheet)"><button disabled style="visibility: hidden"></button><mat-icon class="mr-3" aria-hidden="true">description</mat-icon> {{sheet.name}}</a>
                <a mat-list-item style="visibility: hidden">empty_space</a>
                <!--a mat-list-item [routerLink]="[{ outlets: { importing: ['importing']} }]" routerLinkActive="active"><mat-icon class="mr-3" aria-hidden="true">insert_drive_file</mat-icon> Archivo</a>
                <a mat-list-item [routerLink]="[{ outlets: { importing: ['importing']} }]" routerLinkActive="active"><mat-icon class="mr-3" aria-hidden="true">cloud</mat-icon>  Servicios en linea</a-->
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet name="importing"></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="loadData()" [disabled]="canLoad">LOAD</button>
    <button mat-button (click)="close()">CANCEL</button>
</div>