.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: unset!important;
}
.form-control{
    width: 85%;
}

.add-link {
    right: 20%;
}