<!-- TODO: mostrar una lista de formatos de archivos aceptados -->
<mat-toolbar color="primary">
    <h5>Please select a data type to import</h5>
</mat-toolbar>
<mat-nav-list>
    <a mat-list-item href="javascript: void(0)" (click)="import(types.LOADITEMS_DTO)">
        <mat-icon mat-list-icon>widgets</mat-icon>
        Import Items
    </a>
    <a mat-list-item href="javascript: void(0)" (click)="import(types.LOADLOCATIONS_DTO)">
        <mat-icon mat-list-icon>my_location</mat-icon>
        Import Locations
    </a>
    <a mat-list-item href="javascript: void(0)" (click)="import(types.LOADORDERS_DTO)">
        <mat-icon mat-list-icon>storage</mat-icon>
        Import Orders
    </a>
    <a mat-list-item href="javascript: void(0)" (click)="import(types.LOADPICKS_DTO)">
        <mat-icon mat-list-icon>touch_app</mat-icon>
        Import Load Picks
    </a>
    <a mat-list-item href="javascript: void(0)" (click)="import(types.LOADITEMUOMS_DTO)">
        <mat-icon mat-list-icon>assignment</mat-icon>
        Import Item Uoms
    </a>
</mat-nav-list>
