<div class="content-area">
    <!--button mat-fab class="fab-button" (click)="reloadData()"><mat-icon>sync</mat-icon></button-->
    <div class="content">
        <div class="section-wrapper">
            <div class="header actionbar align-content-top">
                <div class="title actionbar-section align-content-top">
                    <h1>Lpn Relocate</h1>
                </div>
            </div>
        </div>
        <div>
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner class="spinner"></mat-spinner>
            </div>
            <div class="row">
                <div class="col-6 container-group">
                    <label>Origin LPN</label>
                    <div class="row">
                        <form class="p-1 w-100" [formGroup]="searchOriginLpnForm" (ngSubmit)="searchLpnOrigin()">
                            <div class="row">
                                <div class="col-sm-12 col-md-8 p-0">
                                    <div class="form-group">
                                        <label>Code</label>
                                        <input type="text" placeholder="Type a LPN code" class="form-control" formControlName="code" required>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 p-0 text-right search-lpn-block">
                                    <button mat-raised-button type="submit" class="w-100">
                                        <mat-icon>search</mat-icon>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row pt-2">
                        <div class="col-12 lpn-items-container p-0">
                            <div class="example-loading-shade inside" *ngIf="isLoadingLpnOrigin">
                                <mat-spinner class="spinner"></mat-spinner>
                            </div>
                            <!--div class="list-group">
                                <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                                *ngFor="let lpn of lpnsOrigin">
                                    <div class="row">
                                        <div class="col-12 pl-0">
                                            <div class="d-flex w-100 justify-content-between">
                                                <strong class="">{{lpn.code}}</strong>
                                                <small>{{lpn.lpnState}}</small>
                                            </div>
                                            <p class="mb-0">{{lpn.lpnInterface}}</p>
                                            <small>Childs: {{lpn.lpnChilds}}</small>
                                        </div>
                                    </div>
                                </a>
                            </div-->
                            <div
                            cdkDropList
                            #originList="cdkDropList"
                            [cdkDropListData]="lpnsOrigin"
                            [cdkDropListConnectedTo]="[destList]"
                            class="example-list"
                            [cdkDropListEnterPredicate]="originPredicate"
                            (cdkDropListDropped)="drop($event)">
                                <!--div class="example-box" *ngFor="let lpn of lpnsOrigin" cdkDrag>{{lpn.code}}</div-->
                                <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                                *ngFor="let lpn of lpnsOrigin" cdkDrag>
                                    <div class="info-body">
                                        <div class="d-flex w-100 justify-content-between">
                                            <strong class="">{{lpn.code}}</strong>
                                            <small>{{lpn.lpnState}}</small>
                                        </div>
                                        <p class="mb-0">{{lpn.lpnInterface}}</p>
                                        <small>Childs: {{lpn.lpnChilds}}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-12 pl-0">
                            <span class="float-left">Total LPN's: {{ lpnsOrigin.length }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 container-group">
                    <label>Target Location</label>
                    <div class="row">
                        <form class="p-1 w-100" [formGroup]="searchDestLocationForm" (ngSubmit)="searchLocationDest()">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 pl-0">
                                    <div class="form-group">
                                        <label>Type</label>
                                        <select class="form-control" formControlName="type" required>
                                            <option [value]="type" *ngFor="let type of locationTypes | async">
                                                {{type}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 pl-0">
                                    <div class="form-group">
                                        <label>Code</label>
                                        <input type="text" placeholder="Type a location code" class="form-control" formControlName="code" required>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 p-0 text-right search-location-block">
                                    <button mat-raised-button type="submit" class="w-100">
                                        <mat-icon>search</mat-icon>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row pt-2">
                        <div class="col-12 lpn-items-container p-0">
                            <div class="example-loading-shade inside" *ngIf="isLoadingLpnsDest">
                                <mat-spinner class="spinner"></mat-spinner>
                            </div>
                            <!--div class="list-group">
                                <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                                *ngFor="let lpn of lpnsDest">
                                    <div class="info-body">
                                        <div class="d-flex w-100 justify-content-between">
                                            <strong class="">{{lpn.code}}</strong>
                                            <small>{{lpn.lpnState}}</small>
                                        </div>
                                        <p class="mb-0">{{lpn.lpnInterface}}</p>
                                        <small>Childs: {{lpn.lpnChilds}}</small>
                                    </div>
                                </a>
                            </div-->
                            <div
                            cdkDropList
                            #destList="cdkDropList"
                            [cdkDropListData]="lpnsDest"
                            [cdkDropListConnectedTo]="[originList]"
                            class="example-list"
                            (CdkDragRelease)="onRelease($event)"
                            [cdkDropListDisabled]="true"
                            (cdkDropListDropped)="drop($event)">
                                <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                                *ngFor="let lpn of lpnsDest" cdkDrag>
                                    <div class="info-body">
                                        <div class="d-flex w-100 justify-content-between">
                                            <strong class="">{{lpn.code}}</strong>
                                            <small>{{lpn.lpnState}}</small>
                                        </div>
                                        <p class="mb-0">{{lpn.lpnInterface}}</p>
                                        <small>Childs: {{lpn.lpnChilds}}</small>
                                    </div>
                                </a>
                                <!--div class="example-box" *ngFor="let lpn of lpnsDest" cdkDrag>{{lpn.code}}</div-->
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="col-12 pl-0 pr-0 pt-1">
                                <div class="">
                                    <span class="float-left">Total LPNS: {{ lpnsDest.length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>