$primary: #00b19d;
$accent: #00535e;
$secondary: #00535e;
$danger: #9C080B;
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
  font-size: 12px;
}
.template{
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.31);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.31);
  padding: 2px;
  overflow: hidden;
  display: table;
}
.template-container{
  
}
.template-container .template-container-content{
  background: #aaa;
  padding: 15px;
}
.template-row{
  /*border: #A2A2A2 1px dashed;*/
  /*margin-bottom: 2px;*/
  min-height: 48px;
}
.template-field{
  display: grid;
  padding: 0px 10px 0px 10px;
  transition: all 0.5s;
  border: transparent 1px solid;
  position: relative;
}
.template-row .row-content{
  /*padding: 2px;*/
  min-height: 48px;
}
.template-column{
  /*margin: 2px;*/
  /*border: #A2A2A2 1px dashed;*/
  padding: 0px;
}
.template-column .column-content{
  /*padding: 2px;*/
}
.template-field .template-field-label {
  font-weight: bold;
}
.template-field .template-field-label {

}
@media print {
  @page {
    size: 378px 302px;
    margin: 0;
  }
  .template{
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    margin-left: 1px !important;
    min-height: calc(100% - 1px) !important;
    height: calc(100% - 1px) !important;
    width: 563px !important;
    min-width: 563px !important;
  }
  .template-row .row-content{
    /*padding: 2px;*/
    min-height: 90px;
  }
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-y: hidden;
    font-size: 16px;
  }
}