<div class="content-area">
    <div class="example-loading-shade" *ngIf="showProcessingPopup">
        <div class="loading-popup">
            <h4>Importing progress</h4>
            <p>This gonna take a while, please be patient. Don't close this window until finished</p>
            <span>
                <strong>Mapping rows</strong>
                <p>We are mapping all data before validate it</p>
                <mat-progress-bar mode="determinate" [value]="mapingProgress"></mat-progress-bar>
                <small>{{ mapedRows }} rows maped.</small>
            </span>
            <br>
            <span *ngIf="mapingProgress === 100">
                <strong>Validating rows</strong>
                <p>We are validating all data before upload it</p>
                <mat-progress-bar mode="determinate" [value]="processingProgress"></mat-progress-bar>
                <small>{{ processedRows }} rows processed.</small>
                <div class="alert alert-danger" *ngIf="!isReadyToSend && (getInvalidRows().length > 0) &&
                    !uploadingDone && uploadingProgress === 0">
                    <strong>Error: </strong>{{ getValidationAlertMessage() }}
                </div>
            </span>
            <br>
            <span *ngIf="isUploadingData || (!isUploadingData && uploadingDone) || uploadingProgress > 0">
                <strong>Uploading {{ dataToSendLength }} valid rows</strong>
                <p>We are sending data to server</p>
                <mat-progress-bar mode="determinate" [value]="uploadingProgress"></mat-progress-bar>
                <small>{{ uploadingProgress }} % subido.</small>
                <br>
            </span>
            <span *ngIf="uploadingProgress === 100">
                <strong>Response from server</strong>
                <p>{{ getDownloadingMessage() }}</p>
                <div class="alert alert-success" *ngIf="uploadingDone && importedRows > 0">
                    <strong>{{ importedRows }}</strong> rows uploaded successfully
                </div>
                <div class="alert alert-danger" *ngIf="(uploadingDone && rejectedRows > 0) || (errorOnSave && uploadingDone)">
                    <strong>Response: </strong> {{ uploadingResponseMessage }}
                    <a class="float-right" href="javascript: void(0)" (click)="retryUploading()" *ngIf="errorOnSave && uploadingDone">Retry</a>
                </div>
            </span>
            <span *ngIf="uploadingProgress === 100 && !errorOnSave && rejectedRows == 0 && importedRows === 0"> 
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                <br>
            </span>
            <div class="text-right" >
                <button mat-raised-button color="primary" (click)="cancelImportingProcess()">
                    CANCEL
                </button>
                <button mat-raised-button color="primary"
                *ngIf="
                (uploadingDone && rejectedRows > 0) || (errorOnSave && uploadingDone)
                || (uploadingDone && importedRows > 0) ||
                (!isReadyToSend && (getInvalidRows().length > 0) &&
                !uploadingDone && uploadingProgress === 0)"
                class="ml-3"
                (click)="showProcessingPopup = false">
                    OK
                </button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="section-wrapper">
            <div class="header actionbar align-content-top">
                <div class="title actionbar-section align-content-top">
                    <h1>Import Data</h1>
                </div>
                <div class="actions actionbar-section right">
                    <button mat-raised-button color="accent" (click)="importWidget()">
                        <mat-icon>add</mat-icon> <span class="btn-label">Import</span>
                    </button>
                </div>
            </div>
        </div>
        <mat-form-field class="w-100" *ngIf="dataSource.data.length > 0">
            <input matInput [formControl]="filter" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div *ngIf="dataSource.data.length > 0">
            <table mat-table [dataSource]="dataSource" #importTable matSort
            [class.mat-table-hoverflow]="displayedColumns.length > 10">
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [id]="column"> {{ headers[column].name | uppercase}} </th>
                <td mat-cell *matCellDef="let element"> {{ renderColumnData(headers[column].type, element[column]) }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [matTooltip]="row.tooltip"
            [ngClass]="{'alert alert-danger': row.invalid}" (click)="editRow(row)"></tr>
            </table>
            <mat-paginator [length]="dataSource.data.length" pageSize="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        <div *ngIf="validationRequested && dataSource.data.length > 0" role="alert" class="alert" 
        [ngClass]="{ 'alert-danger': (getInvalidRows().length > 0) || (uploadingDone && !isDataSaved), 'alert-success': isReadyToSend || isDataSaved }">
            {{ getValidationAlertMessage() }}
        </div>
        <button mat-raised-button color="primary" [disabled]="isProcessingData" (click)="initValidateData()" 
        *ngIf="validationRequested && !isReadyToSend">Validate again</button>
    </div>
</div>
