<div class="content-area">
    <!-- button mat-fab class="fab-button" (click)="reloadData()"><mat-icon>sync</mat-icon></button-->
    <div class="content">
      <div class="section-wrapper">
          <div class="header actionbar align-content-top">
              <div class="title actionbar-section align-content-top">
                  <h1>{{ pageTitle }}</h1>
              </div>
              <div class="actions actionbar-section right">
                <button mat-raised-button color="accent" (click)="print()">
                    <mat-icon>printer</mat-icon> <span class="btn-label">Print</span>
                </button>
                <button mat-raised-button color="warn" (click)="export()">
                    <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                </button>
              </div>
          </div>
      </div>
      <mat-card>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults" class="spinner"></mat-spinner>
            </div>
            <mat-card-header>
                <mat-card-title>{{cardTitle}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div mat-dialog-content>
                    <span *ngFor="let key of keys">
                        <mat-form-field  [ngClass]="getColumnsClasses()" [class.readonly]="viewMode === 'view'"
                        *ngIf="dataMap[key].formControl.control === 'select'">
                            <mat-label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</mat-label>
                            <!-- campos compuestos/objetos select -->
                            <mat-select [compareWith]="dataMap[key].formControl.compareFn" [formControlName]="key" [class.readonly]="viewMode === 'view'">
                                <mat-option *ngFor="let data of getSelectInputData(key)" [value]="data">
                                    {{ getSelectDisplayData(data, key) }}
                                </mat-option>
                                <div class="select-footer" *ngIf="dataMap[key].addNew && viewMode === 'edit'">
                                    <span class="select-footer-content">
                                        <a href="javascript: void(0)"
                                        (click)="addNewObject(dataMap[key].addNew.modelType)">
                                            <mat-icon *ngIf="dataMap[key].addNew.icon">{{ dataMap[key].addNew.icon }}</mat-icon>
                                            <span>{{ dataMap[key].addNew.text }}</span>
                                        </a>
                                    </span>
                                </div>
                            </mat-select>
                            <!-- hint, link o button -->
                            <!--mat-hint *ngIf="dataMap[key].addNew !== undefined && viewMode === 'edit'" color="primary" class="add-new-link">
                                <a *ngIf="dataMap[key].addNew.linkType === 'link'" (click)="addNewObject(dataMap[key].addNew.modelType, dataMap[key].addNew.text)"
                                color="primary">
                                    <mat-icon>{{ dataMap[key].addNew.icon }}</mat-icon> {{ dataMap[key].addNew.text }}
                                </a>
                                <button *ngIf="dataMap[key].addNew.linkType === 'button'" (click)="addNewObject(dataMap[key].addNew.modelType, dataMap[key].addNew.text)"
                                color="primary">
                                    <mat-icon>{{ dataMap[key].addNew.icon }}</mat-icon> {{ dataMap[key].addNew.text }}
                                </button>
                            </mat-hint-->
                        </mat-form-field>
                        <mat-form-field  [ngClass]="getColumnsClasses()" [class.readonly]="viewMode === 'view'"
                        *ngIf="dataMap[key].formControl.control === 'input' &&
                        dataMap[key].formControl.type === 'number'">
                            <mat-label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</mat-label>
                            <!-- campos number -->
                            <input class="w-100" matInput type="number" [formControlName]="key" 
                            [class.readonly]="viewMode === 'view'">
                        </mat-form-field>
                        <mat-form-field  [ngClass]="getColumnsClasses()" [class.readonly]="viewMode === 'view'"
                        *ngIf="dataMap[key].formControl.control === 'date'">
                            <mat-label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</mat-label>
                            <!-- campos date -->
                            <input matInput [formControlName]="key" [matDatepicker]="pickerDate" *ngIf="dataMap[key].type === 'date'"
                            [class.readonly]="viewMode === 'view'" readonly>
                            <mat-datepicker-toggle matSuffix [for]="pickerDate" *ngIf="dataMap[key].type === 'date' && viewMode === 'edit'" [class.readonly]="viewMode === 'view'"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDate ></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field  [ngClass]="getColumnsClasses()" [class.readonly]="viewMode === 'view'"
                        *ngIf="dataMap[key].formControl.control === 'input' && dataMap[key].formControl.type === 'text'">
                            <mat-label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</mat-label>
                            <!-- campos string -->
                            <input class="w-100" matInput type="text" [formControlName]="key" [class.readonly]="viewMode === 'view'">
                        </mat-form-field>
                        <mat-form-field  [ngClass]="getColumnsClasses()" [class.readonly]="viewMode === 'view'"
                        [appearance]="dataMap[key].type === 'boolean' ? 'none' : ''"
                        *ngIf="dataMap[key].formControl.control === 'toggle'">
                            <mat-label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</mat-label>
                            <!-- campos boolean -->
                            <input matInput [formControlName]="key"  hidden>
                            <mat-slide-toggle  color="primary" [class.readonly]="viewMode === 'view'"
                            (change)="form.get(key).setValue(!form.get(key).value)" [checked]="form.get(key).value">
                                {{dataMap[key].name}}
                            </mat-slide-toggle>
                        </mat-form-field>
                        <span *ngIf="key === 'orderLines'">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Order Lines</h3>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <button mat-raised-button color="warn" (click)="export()">
                                        <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                                    </button>
                                    <button mat-raised-button color="accent" (click)="addRow()" class="ml-2">
                                        <mat-icon>add</mat-icon> <span class="btn-label">Add new</span>
                                    </button>
                                </div>
                            </div>
                            <table mat-table [dataSource]="dataSource" matSort>
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            [aria-label]="checkboxLabel()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)"
                                            [aria-label]="checkboxLabel(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>
                                <!-- Data Columns -->
                                <ng-container [matColumnDef]="column" *ngFor="let column of displayedDataColumns">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ definitions[column].name | uppercase}} </th>
                                    <td mat-cell *matCellDef="let element"> {{ renderColumnData(definitions[column].type, element[column]) }} </td>
                                </ng-container>
                                <!-- Options Sticky Column -->
                                <ng-container matColumnDef="options" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef [class.more-button-header]="true">
                                        {{'Options' | uppercase}}
                                        <a mat-icon-button [matMenuTriggerFor]="toggleColumns" aria-label="Toggle headers">
                                            <mat-icon>more_vert</mat-icon>
                                        </a>
                                        
                                        <mat-menu #toggleColumns="matMenu" (click)="$event.stopPropagation()">
                                            <span>
                                                <a mat-menu-item (click)="toggleColumn()">Show all</a>
                                                <a mat-menu-item  *ngFor="let column of getDefaultHeadersColumns();"
                                                (click)="toggleColumn(column)">
                                                    <mat-icon color="accent">{{ column.show ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                                                    {{column.name}}
                                                </a>
                                            </span>
                                        </mat-menu>
                                    </th>
                                    <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                                        <a mat-icon-button (click)="editRowOnDialog(element, 'view')">
                                            <img src="assets/icons/zoom.png">
                                        </a>
                                        <a mat-icon-button (click)="editRowOnDialog(element, 'edit')">
                                            <img src="assets/icons/page_edit.png">
                                        </a>
                                        <!--a mat-icon-button [routerLink]="['/pages/' + type + '/view', element.code]">
                                            <img src="assets/icons/zoom.png">
                                        </a>
                                        <a mat-icon-button [routerLink]="['/pages/' + type + '/edit', element.code]">
                                            <img src="assets/icons/page_edit.png">
                                        </a-->
                                        <!--button mat-icon-button (click)="printRow(element)">
                                            <img src="assets/icons/printer.png">
                                        </button-->
                                        <a mat-icon-button [href]="'/print/' + type + '/' + element.code" target="_blank">
                                            <img src="assets/icons/printer.png">
                                        </a>
                                        <a mat-icon-button (click)="deletePrompt(element)">
                                            <img src="assets/icons/delete.png">
                                        </a>
                                    </td>
                                </ng-container>
                
                                <tr mat-header-row *matHeaderRowDef="getDisplayedHeadersColumns()"></tr>
                                <!--tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumns();"
                                [ngClass]="{'alert alert-danger': row.invalid}" (click)="editRow(row)"></tr-->
                                <tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumns();"
                                [ngClass]="{'alert alert-danger': row.invalid}" [routerLink]="['/pages/' + type + '/view', row.code]"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
                        </span>
                    </span>
                </div>
            </mat-card-content>
            <mat-card-actions align="end" [ngClass]="'mb-0'">
                <small class="footer-label col-sm-12" *ngIf="viewMode === 'edit'">Required fields are marked with *</small>
                <button mat-button type="submit" *ngIf="viewMode === 'edit'" [disabled]="isLoadingResults">SAVE</button>
                <a mat-button [disabled]="isLoadingResults" (click)="back()">BACK</a>
            </mat-card-actions>
        </form>
        <div *ngIf="viewMode === 'view'">

        </div>
      </mat-card>
    </div>
</div>
