<div class="content-area">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
    <!-- button mat-fab class="fab-button" (click)="reloadData()"><mat-icon>sync</mat-icon></button-->
    <div class="content" *ngIf="form">
      <div class="section-wrapper">
          <div class="header actionbar align-content-top">
              <div class="title actionbar-section align-content-top">
                  <h1>{{ pageTitle }}</h1>
              </div>
              <div class="actions actionbar-section right">
                <button mat-raised-button color="accent" (click)="print()">
                    <mat-icon>printer</mat-icon> <span class="btn-label">Print</span>
                </button>
                <button mat-raised-button color="warn" (click)="export(cardTitle)">
                    <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                </button>
              </div>
          </div>
      </div>
      <mat-card>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-card-header>
                <mat-card-title>{{cardTitle}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div *ngFor="let key of keys" [ngClass]="getColumnsClasses()">
                        <!-- campos compuestos/objetos select -->
                        <div class="form-group"
                        *ngIf="dataMap[key].formControl.control === 'select'">
                            <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                            <select [compareWith]="dataMap[key].formControl.compareFn" [formControlName]="key"
                            [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'"
                            class="form-control">
                                <option *ngFor="let data of selectsData[key] | async"
                                [ngValue]="dataMap[key].formControl.valueIndex !== null 
                                ? data[dataMap[key].formControl.valueIndex] : data">
                                    {{ dataMap[key].formControl.displayIndex !== null && dataMap[key].formControl.displayIndex !== null ?
                                        data[dataMap[key].formControl.displayIndex] : data }}
                                </option>
                                <!--div class="select-footer" *ngIf="dataMap[key].addNew && viewMode === 'edit'">
                                    <span class="select-footer-content">
                                        <a href="javascript: void(0)"
                                        (click)="addNewObject(key, dataMap[key].addNew.modelType)">
                                            <mat-icon *ngIf="dataMap[key].addNew.icon">{{ dataMap[key].addNew.icon }}</mat-icon>
                                            <span>{{ dataMap[key].addNew.text }}</span>
                                        </a>
                                    </span>
                                </div-->
                            </select>
                        </div>
                        <!-- campos number -->
                        <div  class="form-group"
                        *ngIf="dataMap[key].formControl.control === 'input' &&
                        dataMap[key].formControl.type === 'number'">
                            <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                            <input class="form-control" type="number" [formControlName]="key" 
                            [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'"
                            [min]="dataMap[key].formControl.min ? dataMap[key].formControl.min : 0"
                            [max]="dataMap[key].formControl.max ? dataMap[key].formControl.max : 999999999999"
                            [maxlength]="dataMap[key].formControl.maxlength ? dataMap[key].formControl.maxlength : 12">
                        </div>
                        <!-- campos date -->
                        <div class="form-group"
                        *ngIf="dataMap[key].formControl.control === 'date'">
                            <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                            <input type="date" [formControlName]="key" *ngIf="dataMap[key].type === 'date'"
                            [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'"
                            class="form-control">
                        </div>
                        <!-- campos string -->
                        <div  class="form-group"
                        *ngIf="dataMap[key].formControl.control === 'input' && dataMap[key].formControl.type === 'text'">
                            <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                            <input class="form-control" type="text" [formControlName]="key"
                            [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                        </div>
                        <!-- campos textarea -->
                        <div  class="form-group"
                        *ngIf="dataMap[key].formControl.control === 'textarea'">
                            <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                            <textarea class="form-control" [formControlName]="key"
                            [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                            </textarea>
                        </div>
                        <!-- campos boolean -->
                        <div  class="form-group"
                        *ngIf="dataMap[key].formControl.control === 'toggle'">
                            <input [formControlName]="key"  hidden>
                            <mat-slide-toggle  color="primary" [class.readonly]="viewMode === 'view'"
                            (change)="form.get(key).setValue(!form.get(key).value)" [checked]="form.get(key).value">
                                {{dataMap[key].name}}
                            </mat-slide-toggle>
                        </div>
                        <!-- campos table -->
                        <span *ngIf="dataMap[key].formControl.control === 'table'">
                            <br><hr><br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>{{dataMap[key].name | titlecase}}</h5>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <a mat-raised-button color="warn" href="javascript: void(0);"
                                    (click)="exportTableData(cardTitle + ' ' + dataMap[key].name)">
                                        <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                                    </a>
                                    <a mat-raised-button color="accent" (click)="dataMap[key].type === importingTypes.ORDERS ?
                                    addOrder() : addRow(dataMap[key].type)" *ngIf="viewMode === 'edit'"
                                    class="ml-2" href="javascript: void(0);">
                                        <mat-icon>add</mat-icon> <span class="btn-label">Add new</span>
                                    </a>
                                </div>
                            </div>
                            <br>
                            <table mat-table [dataSource]="dataSource" matSort>
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            [aria-label]="checkboxLabel()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)"
                                            [aria-label]="checkboxLabel(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>
                                <!-- Data Columns -->
                                <ng-container [matColumnDef]="column" *ngFor="let column of displayedDataColumns">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ definitions[column].name | uppercase}} </th>
                                    <td mat-cell *matCellDef="let element"> {{ renderColumnData(definitions[column].type, element[column]) }} </td>
                                </ng-container>
                                <!-- Options Sticky Column -->
                                <ng-container matColumnDef="options" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef [class.more-button-header]="true">
                                        {{'Options' | uppercase}}
                                        <a mat-icon-button [matMenuTriggerFor]="toggleColumns" aria-label="Toggle headers">
                                            <mat-icon>more_vert</mat-icon>
                                        </a>
                                        
                                        <mat-menu #toggleColumns="matMenu" (click)="$event.stopPropagation()">
                                            <span>
                                                <a mat-menu-item (click)="toggleColumn()">Show all</a>
                                                <a mat-menu-item  *ngFor="let column of getDefaultHeadersColumns();"
                                                (click)="toggleColumn(column)">
                                                    <mat-icon color="accent">{{ column.show ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                                                    {{definitions[column.name].name}}
                                                </a>
                                            </span>
                                        </mat-menu>
                                    </th>
                                    <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                                        <a mat-icon-button (click)="editRowOnDialog(element, key, 'view')">
                                            <img src="assets/icons/zoom.png">
                                        </a>
                                        <a mat-icon-button (click)="editRowOnDialog(element, key, 'edit')">
                                            <img src="assets/icons/page_edit.png">
                                        </a>
                                        <!--a mat-icon-button [routerLink]="['/pages/' + type + '/view', element.code]">
                                            <img src="assets/icons/zoom.png">
                                        </a>
                                        <a mat-icon-button [routerLink]="['/pages/' + type + '/edit', element.code]">
                                            <img src="assets/icons/page_edit.png">
                                        </a-->
                                        <!--button mat-icon-button (click)="printRow(element)">
                                            <img src="assets/icons/printer.png">
                                        </button-->
                                        <a mat-icon-button [href]="'/print/' + dataMap[key].type + '/' + element.id" target="_blank">
                                            <img src="assets/icons/printer.png">
                                        </a>
                                        <a mat-icon-button (click)="deletePrompt(element, key)">
                                            <img src="assets/icons/delete.png">
                                        </a>
                                    </td>
                                </ng-container>
                
                                <tr mat-header-row *matHeaderRowDef="getDisplayedHeadersColumns()"></tr>
                                <!--tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumns();"
                                [ngClass]="{'alert alert-danger': row.invalid}" (click)="editRow(row)"></tr-->
                                <tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumns();"
                                [ngClass]="{'alert alert-danger': row.invalid}" [routerLink]="['/pages/' + type + '/view', row.code]"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
                        </span>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions align="end" [ngClass]="'mb-0'">
                <small class="footer-label col-sm-12" *ngIf="viewMode === 'edit'">Required fields are marked with *</small>
                <button mat-button type="submit" *ngIf="viewMode === 'edit'" [disabled]="isLoadingResults">SAVE</button>
                <a mat-button [disabled]="isLoadingResults" (click)="back()">BACK</a>
            </mat-card-actions>
        </form>
        <div *ngIf="viewMode === 'view'">

        </div>
      </mat-card>
    </div>
</div>
