<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults" class="spinner"></mat-spinner>
        </div>
        <div class="row">
            <span *ngFor="let key of keys" [class]="getColumnsClasses()" 
            [style.display]="defaultValues === undefined || 
            (defaultValues !== undefined && defaultValues[key] === undefined) ? '' : 'none'">
                <!-- campos compuestos/objetos -->
                <div class="form-group" *ngIf="dataMap[key].formControl.control === 'select'">
                    <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                    <select [compareWith]="dataMap[key].formControl.compareFn" [formControlName]="key"
                    [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'"
                    class="form-control">
                        <option *ngFor="let data of selectsData[key]"
                        [ngValue]="data">
                            {{ dataMap[key].formControl.displayIndex !== null ?
                                data[dataMap[key].formControl.displayIndex] : data }}
                        </option>
                        <!--div class="select-footer" *ngIf="dataMap[key].addNew && viewMode === 'edit'">
                            <span class="select-footer-content">
                                <a href="javascript: void(0)"
                                (click)="addNewObject(key, dataMap[key].addNew.modelType)">
                                    <mat-icon *ngIf="dataMap[key].addNew.icon">{{ dataMap[key].addNew.icon }}</mat-icon>
                                    <span>{{ dataMap[key].addNew.text }}</span>
                                </a>
                            </span>
                        </div-->
                    </select>
                </div>
                <!-- campos number -->
                <div class="form-group"
                *ngIf="dataMap[key].formControl.control === 'input' &&
                dataMap[key].formControl.type === 'number'">
                    <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                    <input class="form-control" type="number" [formControlName]="key"
                    [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'"
                    [min]="dataMap[key].min ? dataMap[key].min : 0"
                    [max]="dataMap[key].max ? dataMap[key].min : 999999999999"
                    [maxlength]="dataMap[key].maxlength ? dataMap[key].maxlength : 12">
                </div>
                <!-- campos date -->
                <div class="form-group" *ngIf="dataMap[key].formControl.control === 'date'">
                    <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                    <input type="date" class="form-control" [formControlName]="key"
                    [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                    
                </div>
                <!-- campos string -->
                <div class="form-group"
                *ngIf="dataMap[key].formControl.control === 'input' && dataMap[key].formControl.type === 'text'">
                    <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                    <input class="form-control" type="text" [formControlName]="key"
                    [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                </div>
                <!-- campos boolean -->
                <div class="form-group" *ngIf="dataMap[key].formControl.control === 'toggle'">
                    <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                    <input [formControlName]="key" hidden>
                    <mat-slide-toggle  *ngIf="dataMap[key].formControl.control === 'toggle'" color="primary"
                    (change)="form.get(key).setValue(!form.get(key).value)" [checked]="form.get(key).value">
                        {{dataMap[key].name}}
                    </mat-slide-toggle>
                </div>
            </span>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <small class="footer-label">Required fields are marked with *</small>
        <button mat-button type="submit" [disabled]="isLoadingResults" *ngIf="viewMode === 'edit'">SAVE</button>
        <button mat-button mat-dialog-close [disabled]="isLoadingResults" autofocus>CANCEL</button>
    </div>
</form>
