<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults" class="spinner"></mat-spinner>
        </div>
        <div class="row">
            <span *ngFor="let key of keys" [class]="getColumnsClasses()" 
            [style.display]="defaultValues === undefined || 
            (defaultValues !== undefined && defaultValues[key] === undefined) ? '' : 'none'">
                <!-- campos compuestos/objetos -->
                <div class="form-group"
                *ngIf="dataMap[key].formControl.control === 'select'">
                    <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}
                        <span class="add-link" *ngIf="dataMap[key].addNew">
                            <a href="javascript: void(0)"
                            (click)="addNewObject(key, dataMap[key].addNew.modelType, 'Add new ' + dataMap[key].name)">
                            {{ dataMap[key].addNew.text }}
                            </a>
                        </span>
                    </label>
                    <select [compareWith]="dataMap[key].formControl.compareFn"
                    [formControlName]="key" class="form-control" [required]="dataMap[key].required">
                        <mat-option [value]="">
                            Select a value
                        </mat-option>
                        <option *ngFor="let data of selectsData[key]"
                        [ngValue]="dataMap[key].formControl.valueIndex !== null ? data[dataMap[key].formControl.valueIndex] : data">
                            {{ 
                            dataMap[key].formControl.displayIndex !== null ?
                            data[dataMap[key].formControl.displayIndex] : data
                            }}
                        </option>
                        <!--div class="select-footer" *ngIf="dataMap[key].addNew">
                            <span class="select-footer-content">
                                <a href="javascript: void(0)"
                                (click)="addNewObject(key, dataMap[key].addNew.modelType, 'Add new ' + dataMap[key].name)">
                                    <mat-icon *ngIf="dataMap[key].addNew.icon">{{ dataMap[key].addNew.icon }}</mat-icon>
                                    <span>{{ dataMap[key].addNew.text }}</span>
                                </a>
                            </span>
                        </div-->
                    </select>
                </div>
                <!-- campos number -->
                <div class="form-group"
                *ngIf="dataMap[key].formControl.control === 'input' && dataMap[key].formControl.type === 'number'">
                    <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                    <input class="form-control"  type="number" [formControlName]="key"
                    [required]="dataMap[key].required" 
                    [min]="dataMap[key].formControl.min ? dataMap[key].formControl.min : 0"
                    [max]="dataMap[key].formControl.max ? dataMap[key].formControl.max : 999999999999"
                    [maxlength]="dataMap[key].formControl.maxlength ? dataMap[key].formControl.maxlength : 12">
                </div>
                <!-- campos date -->
                <div class="form-group"
                *ngIf="dataMap[key].formControl.control === 'date'">
                    <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                    <input class="form-control"  type="date" [formControlName]="key"
                    [required]="dataMap[key].required" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                </div>
                <!-- campos textarea -->
                <div class="form-group"
                *ngIf="dataMap[key].formControl.control === 'textarea'">
                    <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                    <textarea class="form-control"  type="text" [formControlName]="key"
                    [required]="dataMap[key].required"></textarea>
                </div>
                <!-- campos string -->
                <div class="form-group"
                *ngIf="dataMap[key].formControl.control === 'input' && dataMap[key].formControl.type === 'text'">
                    <label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</label>
                    <input class="form-control"  type="text" [formControlName]="key"
                    [required]="dataMap[key].required">
                </div>
                <!-- campos boolean -->
                <div class="form-group" *ngIf="dataMap[key].formControl.control === 'toggle'">
                    <input type="hidden" [formControlName]="key" [required]="dataMap[key].required">
                    <mat-slide-toggle  *ngIf="dataMap[key].formControl.control === 'toggle'" color="primary"
                    (change)="form.get(key).setValue(!form.get(key).value)" [checked]="form.get(key).value">
                        {{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}
                    </mat-slide-toggle>
                </div>
            </span>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <small class="footer-label">Required fields are marked with *</small>
        <button mat-button type="submit" [disabled]="isLoadingResults">SAVE</button>
        <button mat-button mat-dialog-close [disabled]="isLoadingResults">CANCEL</button>
    </div>
</form>
