<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults" class="spinner"></mat-spinner>
        </div>
        <span *ngFor="let key of keys">
            <!-- campos compuestos/objetos -->
            <mat-form-field [ngClass]="getColumnsClasses()" *ngIf="dataMap[key].formControl.control === 'select'">
                <mat-label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</mat-label>
                <mat-select [formControlName]="key">
                    <mat-option [value]="-1">
                        Select a value
                    </mat-option>
                    <mat-option *ngFor="let data of selectsData[key] | async"
                    [value]="data">
                        {{ dataMap[key].formControl.displayIndex !== null ?
                            data[dataMap[key].formControl.displayIndex] : data }}
                    </mat-option>
                    <div class="select-footer" *ngIf="dataMap[key].addNew">
                        <span class="select-footer-content">
                            <a href="javascript: void(0)"
                            (click)="addNewObject(key, dataMap[key].addNew.modelType, 'Add new ' + dataMap[key].name)">
                                <mat-icon *ngIf="dataMap[key].addNew.icon">{{ dataMap[key].addNew.icon }}</mat-icon>
                                <span>{{ dataMap[key].addNew.text }}</span>
                            </a>
                        </span>
                    </div>
                </mat-select>
                <!-- hint, link o button -->
                <!--mat-hint *ngIf="dataMap[key].addNew !== undefined " color="primary" class="add-new-link">
                    <a *ngIf="dataMap[key].addNew.linkType === 'link'" (click)="addNewObject(dataMap[key].addNew.modelType, dataMap[key].addNew.text)"
                    color="primary">
                        <mat-icon>{{ dataMap[key].addNew.icon }}</mat-icon> {{ dataMap[key].addNew.text }}
                    </a>
                    <button *ngIf="dataMap[key].addNew.linkType === 'button'" (click)="addNewObject(dataMap[key].addNew.modelType, dataMap[key].addNew.text)"
                    color="primary">
                        <mat-icon>{{ dataMap[key].addNew.icon }}</mat-icon> {{ dataMap[key].addNew.text }}
                    </button>
                </mat-hint-->
            </mat-form-field>
            <!-- campos number -->
            <mat-form-field [ngClass]="getColumnsClasses()"
            *ngIf="dataMap[key].formControl.control === 'input' && dataMap[key].formControl.type === 'number'">
                <mat-label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</mat-label>
                <input class="w-100" matInput type="number" [formControlName]="key" >
            </mat-form-field>
            <!-- campos date -->
            <mat-form-field [ngClass]="getColumnsClasses()" *ngIf="dataMap[key].formControl.control === 'date'">
                <mat-label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</mat-label>
                <input matInput [formControlName]="key" [matDatepicker]="pickerDate"  readonly>
                <mat-datepicker-toggle matSuffix [for]="pickerDate" *ngIf="dataMap[key].formControl.control === 'date'"></mat-datepicker-toggle>
                <mat-datepicker #pickerDate ></mat-datepicker>
            </mat-form-field>
            <!-- campos string -->
            <mat-form-field [ngClass]="getColumnsClasses()"
            *ngIf="dataMap[key].formControl.control === 'input' && dataMap[key].formControl.type === 'text'">
                <mat-label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</mat-label>
                <input class="w-100" matInput type="text" [formControlName]="key"
                >
            </mat-form-field>
            <!-- campos boolean -->
            <mat-form-field [ngClass]="getColumnsClasses()" *ngIf="dataMap[key].formControl.control === 'toggle'"
            [appearance]="dataMap[key].type === 'boolean' ? 'none' : ''">
                <mat-label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</mat-label>
                <input matInput [formControlName]="key" hidden>
                <mat-slide-toggle  *ngIf="dataMap[key].formControl.control === 'toggle'" color="primary"
                (change)="form.get(key).setValue(!form.get(key).value)" [checked]="form.get(key).value">
                    {{dataMap[key].name}}
                </mat-slide-toggle>
            </mat-form-field>
        </span>
    </div>
    <div mat-dialog-actions align="end">
        <small class="footer-label">Required fields are marked with *</small>
        <button mat-button type="submit" [disabled]="isLoadingResults">SAVE</button>
        <button mat-button mat-dialog-close [disabled]="isLoadingResults">CANCEL</button>
    </div>
</form>
