<div class="content-area">
    <div class="content">
      <div class="section-wrapper">
          <div class="header actionbar align-content-top">
              <div class="title actionbar-section align-content-top">
                  <h1>{{ pageTitle }}</h1>
              </div>
              <div class="actions actionbar-section right">
                <button mat-raised-button color="accent" (click)="print()">
                    <mat-icon>printer</mat-icon> <span class="btn-label">Print</span>
                </button>
                <button mat-raised-button color="warn" (click)="export()">
                    <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                </button>
              </div>
          </div>
      </div>
      <mat-card>
          <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner class="spinner"></mat-spinner>
          </div>
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-tab-group class="tab-orders">
                    <mat-tab label="Details">
                        <ng-template matTabContent>
                            <div class="row">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Order Number</label>
                                        <input class="form-control" type="text" formControlName="orderNumber"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Purchase Number</label>
                                        <input class="form-control" type="text" formControlName="purchaseNumber"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>    
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Invoice Number</label>
                                        <input class="form-control" type="text" formControlName="invoiceNumber"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Order Date</label>
                                        <input type="date" class="form-control" formControlName="orderDate" [matDatepicker]="orderDate"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Delivery Date</label>
                                        <input formControlName="deliveryDate" type="date" class="form-control"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Order Type</label>
                                        <select [compareWith]="dataMap.orderTypeId.formControl.compareFn" formControlName="orderTypeId"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'" class="form-control">
                                            <option *ngFor="let type of ordersData.orderTypeList" [value]="type.id">
                                                {{ type.description }}
                                            </option>
                                            <!--div class="select-footer" *ngIf="dataMap.orderType.addNew && viewMode === 'edit'">
                                                <span class="select-footer-content">
                                                    <a href="javascript: void(0)"
                                                    (click)="addNewObject(importingTypes.ORDER_TYPE, 'Add new order type')">
                                                        <mat-icon *ngIf="dataMap.orderType.addNew.icon">{{ dataMap.orderType.addNew.icon }}</mat-icon>
                                                        <span>{{ dataMap.orderType.addNew.text }}</span>
                                                    </a>
                                                </span>
                                            </div-->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Priority</label>
                                        <input class="form-control" type="number" formControlName="priority"
                                        class="form-control"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Note</label>
                                        <textarea class="form-control" formControlName="note"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Customer">
                        <ng-template matTabContent>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Customer</label>
                                    <select formControlName="customerId" class="form-control" (change)="onChangeCustomer()">
                                        <option *ngFor="let customer of ordersData.customerList" [value]="customer.customerId">
                                            {{ customer.customerName }}
                                        </option>
                                        <!--div class="select-footer" *ngIf="dataMap.customer.addNew && viewMode === 'edit'">
                                            <span class="select-footer-content">
                                                <a href="javascript: void(0)"
                                                (click)="addNewObject(importingTypes.CUSTOMERS, 'Add new customer')">
                                                    <mat-icon *ngIf="dataMap.customer.addNew.icon">{{ dataMap.customer.addNew.icon }}</mat-icon>
                                                    {{ dataMap.customer.addNew.text }}
                                                </a>
                                            </span>
                                        </div-->
                                    </select>
                                </div>
                            </div>
                            <br><br>
                            <h6>Customer Details</h6>
                            <hr>
                            <span *ngIf="selectedCustomer.customerId !== undefined" class="row">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Customer Code</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedCustomer.code"
                                        [class.readonly]="true" [readonly]="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedCustomer.name"
                                        [class.readonly]="true" [readonly]="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Contact</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedCustomer.contact"
                                        [class.readonly]="true" [readonly]="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedCustomer.phone"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <textarea class="form-control"
                                        [value]="selectedCustomer.address"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                        </textarea>
                                    </div>
                                </div>
                            </span>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Transport">
                        <ng-template matTabContent>
                            <div class="form-group">
                                <label>Transport</label>
                                <select formControlName="transportId" class="form-control" (change)="onChangeTransport()">
                                    <option *ngFor="let trans of ordersData.transportList" [value]="trans.id">
                                        {{ trans.nameRoute }}
                                    </option>
                                    <!--div class="select-footer" *ngIf="dataMap.transport.addNew && viewMode === 'edit'">
                                        <span class="select-footer-content">
                                            <a href="javascript: void(0)"
                                            (click)="addNewObject(importingTypes.TRANSPORTS, 'Add new transport')">
                                                <mat-icon *ngIf="dataMap.transport.addNew.icon">{{ dataMap.transport.addNew.icon }}</mat-icon>
                                                {{ dataMap.transport.addNew.text }}
                                            </a>
                                        </span>
                                    </div-->
                                </select>
                            </div>
                            <br><br>
                            <h5>Transport Details</h5>
                            <hr>
                            <span class="row" *ngIf="selectedTransport.transportId !== undefined">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Transport Number</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.transportNumber"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Route</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.route"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Name Route</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.nameRoute"
                                        [class.readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Carrier Code</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.carrierCode"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Shipment Date</label>
                                        <input class="form-control" type="date"
                                        [value]="selectedTransport.shipmentDate"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Transportation Status</label>
                                        <select class="form-control"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                            <option *ngFor="let status of ordersData.transportStatus"
                                            [selected]="selectedTransport.transportationStatus === status"
                                            [ngValue]="status">
                                                {{ status }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Vehicle</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.vehicle"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Container Number</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.containerNumber"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Weight</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.weight"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Trailer</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.trailer"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.description"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Planned Checkin</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.plannedCheckin"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Actual Checkin</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.actualChecking"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Planned Start Loading</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.plannedStartLoading"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Current Start Loading</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.currentStartLoading"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Planned End Loading</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.plannedEndLoading"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Actual End Loading</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.actualEndLoading"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Planned Shipment Completion</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.plannedShipmentCompletion"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Current Shipment Completion</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.currentShipmentCompletion"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Uom Weight</label>
                                        <select class="form-control"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                            <option *ngFor="let uom of ordersData.uomList"
                                            [selected]="selectedTransport.uomWeight === uom"
                                            [ngValue]="uom">
                                                {{ uom.name }}
                                            </option>
                                            <!--div class="select-footer" *ngIf="transportDataMap.uomWeight.addNew && viewMode === 'edit'">
                                                <span class="select-footer-content">
                                                    <a href="javascript: void(0)"
                                                    (click)="addNewObject(importingTypes.UOMS, 'Add new uom')">
                                                        <mat-icon *ngIf="transportDataMap.uomWeight.addNew.icon">{{ transportDataMap.uomWeight.addNew.icon }}</mat-icon>
                                                        <span>{{ transportDataMap.uomWeight.addNew.text }}</span>
                                                    </a>
                                                </span>
                                            </div-->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Uom Volume</label>
                                        <select class="form-control"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                            <option *ngFor="let uom of ordersData.uomList"
                                            [selected]="selectedTransport.uomVolume === uom"
                                            [ngValue]="uom">
                                                {{ uom.name }}
                                            </option>
                                            <!--div class="select-footer" *ngIf="transportDataMap.uomVolume.addNew && viewMode === 'edit'">
                                                <span class="select-footer-content">
                                                    <a href="javascript: void(0)"
                                                    (click)="addNewObject(importingTypes.UOMS, 'Add new uom')">
                                                        <mat-icon *ngIf="transportDataMap.uomVolume.addNew.icon">{{ transportDataMap.uomVolume.addNew.icon }}</mat-icon>
                                                        <span>{{ transportDataMap.uomVolume.addNew.text }}</span>
                                                    </a>
                                                </span>
                                            </div-->
                                        </select>
                                    </div>
                                </div>
                            </span>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
                <hr>
                <div class="col-sm-12">
                    <h5>Order Lines</h5>
                    <div class="col-sm-12 text-right mb-3">
                        <a mat-raised-button color="warn" (click)="exportOrderLines()" *ngIf="dataSource.data.length > 0">
                            <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                        </a>
                        <a mat-raised-button color="accent" (click)="addOrderLine()" class="ml-2"
                            *ngIf="viewMode === 'edit'">
                            <mat-icon>add</mat-icon> <span class="btn-label">Add new</span>
                        </a>
                    </div>
                    <table mat-table [dataSource]="dataSource" matSort>
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <!-- Data Columns -->
                        <ng-container [matColumnDef]="column" *ngFor="let column of displayedDataColumns">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ definitions[column].name | uppercase}} </th>
                            <td mat-cell *matCellDef="let element"> {{ renderColumnData(definitions[column].type, element[column]) }} </td>
                        </ng-container>
                        <!-- Options Sticky Column -->
                        <ng-container matColumnDef="options" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef [class.more-button-header]="true">
                                {{'Options' | uppercase}}
                                <a mat-icon-button [matMenuTriggerFor]="toggleColumns" aria-label="Toggle headers">
                                    <mat-icon>more_vert</mat-icon>
                                </a>
                                
                                <mat-menu #toggleColumns="matMenu" (click)="$event.stopPropagation()">
                                    <span>
                                        <a mat-menu-item (click)="toggleColumn()">Show all</a>
                                        <a mat-menu-item  *ngFor="let column of getDefaultHeadersColumns();"
                                        (click)="toggleColumn(column)">
                                            <mat-icon color="accent">{{ column.show ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                                            {{column.name}}
                                        </a>
                                    </span>
                                </mat-menu>
                            </th>
                            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                                <a mat-icon-button (click)="editOrderLineOnDialog(element, 'view')">
                                    <img src="assets/icons/zoom.png">
                                </a>
                                <a mat-icon-button (click)="editOrderLineOnDialog(element, 'edit')" *ngIf="viewMode === 'edit'">
                                    <img src="assets/icons/page_edit.png">
                                </a>
                                <!--a mat-icon-button [routerLink]="['/pages/' + type + '/view', element.code]">
                                    <img src="assets/icons/zoom.png">
                                </a>
                                <a mat-icon-button [routerLink]="['/pages/' + type + '/edit', element.code]">
                                    <img src="assets/icons/page_edit.png">
                                </a-->
                                <!--button mat-icon-button (click)="printRow(element)">
                                    <img src="assets/icons/printer.png">
                                </button-->
                                <!--a mat-icon-button [href]="'/print/' + type + '/' + element.code" target="_blank">
                                    <img src="assets/icons/printer.png">
                                </a-->
                                <a mat-icon-button (click)="deleteOrderLinePrompt(element)" *ngIf="viewMode === 'edit'">
                                    <img src="assets/icons/delete.png">
                                </a>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="getDisplayedHeadersColumns()"></tr>
                        <!--tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumns();"
                        [ngClass]="{'alert alert-danger': row.invalid}" (click)="editRow(row)"></tr-->
                        <tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumns();"
                        [ngClass]="{'alert alert-danger': row.invalid}" [routerLink]="['/pages/' + type + '/view', row.code]"></tr>
                    </table>
                    <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
                </div>
                <div class="col-sm-12 text-right">
                    <button mat-button type="submit" *ngIf="viewMode === 'edit'" [disabled]="isLoadingResults">SAVE</button>
                    <a mat-button [disabled]="isLoadingResults" (click)="back()">BACK</a>
                </div>
            </form>
          </mat-card-content>
      </mat-card>
    </div>
</div>
