.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: unset!important;
}
.readonly {
    pointer-events: none !important;
    cursor: not-allowed !important;
}
.mat-tab-body-content {
    margin-top: 3% !important;
}

::ng-deep .mat-slider-thumb-label {
    right: -14px !important;
    top: -40px !important;
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
}

::ng-deep .mat-slider-thumb-label-text {
    opacity: 1 !important;
}