<div class="content-area">
    <div class="content">
      <div class="section-wrapper">
          <div class="header actionbar align-content-top">
              <div class="title actionbar-section align-content-top">
                  <h1>{{ pageTitle }}</h1>
              </div>
              <div class="actions actionbar-section right">
                <button mat-raised-button color="accent" (click)="print()">
                    <mat-icon>printer</mat-icon> <span class="btn-label">Print</span>
                </button>
                <button mat-raised-button color="warn" (click)="export()" class="ml-2">
                    <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                </button>
              </div>
          </div>
      </div>
      <mat-card>
          <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner class="spinner"></mat-spinner>
          </div>
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-tab-group class="tab-orders">
                    <mat-tab label="Details">
                        <ng-template matTabContent>
                            <div class="row">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Order Number</label>
                                        <input class="form-control" type="text" formControlName="orderNumber"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Purchase Number</label>
                                        <input class="form-control" type="text" formControlName="purchaseNumber"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>    
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Invoice Number</label>
                                        <input class="form-control" type="text" formControlName="invoiceNumber"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Order Date</label>
                                        <input type="date" class="form-control" formControlName="orderDate" [matDatepicker]="orderDate"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Delivery Date</label>
                                        <input formControlName="deliveryDate" type="date" class="form-control"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Order Type</label>
                                        <select [compareWith]="dataMap.orderTypeId.formControl.compareFn" formControlName="orderTypeId"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'" class="form-control">
                                            <option *ngFor="let type of ordersData.orderTypeList" [value]="type.id">
                                                {{ type.description }}
                                            </option>
                                            <!--div class="select-footer" *ngIf="dataMap.orderType.addNew && viewMode === 'edit'">
                                                <span class="select-footer-content">
                                                    <a href="javascript: void(0)"
                                                    (click)="addNewObject(importingTypes.ORDER_TYPE, 'Add new order type')">
                                                        <mat-icon *ngIf="dataMap.orderType.addNew.icon">{{ dataMap.orderType.addNew.icon }}</mat-icon>
                                                        <span>{{ dataMap.orderType.addNew.text }}</span>
                                                    </a>
                                                </span>
                                            </div-->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Priority</label>
                                        <input class="form-control" type="number" formControlName="priority"
                                        class="form-control"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Note</label>
                                        <textarea class="form-control" formControlName="note"
                                        [class.readonly]="viewMode === 'view'" [readonly]="viewMode === 'view'">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Customer">
                        <ng-template matTabContent>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Customer</label>
                                    <select formControlName="customerId" class="form-control">
                                        <option *ngFor="let customer of ordersData.customerList" [value]="customer.customerId">
                                            {{ customer.customerName }}
                                        </option>
                                        <!--div class="select-footer" *ngIf="dataMap.customer.addNew && viewMode === 'edit'">
                                            <span class="select-footer-content">
                                                <a href="javascript: void(0)"
                                                (click)="addNewObject(importingTypes.CUSTOMERS, 'Add new customer')">
                                                    <mat-icon *ngIf="dataMap.customer.addNew.icon">{{ dataMap.customer.addNew.icon }}</mat-icon>
                                                    {{ dataMap.customer.addNew.text }}
                                                </a>
                                            </span>
                                        </div-->
                                    </select>
                                </div>
                            </div>
                            <br><br>
                            <h6>Customer Details</h6>
                            <hr>
                            <span *ngIf="selectedCustomer.id !== undefined" class="row">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Customer Code</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedCustomer.code"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedCustomer.name"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Contact</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedCustomer.contact"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedCustomer.phone"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <textarea class="form-control readonly"
                                        [value]="selectedCustomer.address"
                                        readonly="true">
                                        </textarea>
                                    </div>
                                </div>
                            </span>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Transport">
                        <ng-template matTabContent>
                            <div class="form-group">
                                <label>Transport</label>
                                <select formControlName="transportId" class="form-control">
                                    <option *ngFor="let trans of ordersData.transportList" [value]="trans.transportId">
                                        {{ trans.transportNumber }}
                                    </option>
                                    <!--div class="select-footer" *ngIf="dataMap.transport.addNew && viewMode === 'edit'">
                                        <span class="select-footer-content">
                                            <a href="javascript: void(0)"
                                            (click)="addNewObject(importingTypes.TRANSPORTS, 'Add new transport')">
                                                <mat-icon *ngIf="dataMap.transport.addNew.icon">{{ dataMap.transport.addNew.icon }}</mat-icon>
                                                {{ dataMap.transport.addNew.text }}
                                            </a>
                                        </span>
                                    </div-->
                                </select>
                            </div>
                            <br><br>
                            <h5>Transport Details</h5>
                            <hr>
                            <span class="row" *ngIf="selectedTransport.id !== undefined">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Transport Number</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.transportNumber"
                                        [readonly]="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Route</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.route"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Name Route</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.nameRoute"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Carrier Code</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.carrierCode"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Shipment Date</label>
                                        <input class="form-control readonly" type="date"
                                        [value]="selectedTransport.shipmentDate"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Transportation Status</label>
                                        <select class="form-control readonly"
                                        readonly="true">
                                            <option *ngFor="let status of ordersData.transportStatus"
                                            [selected]="selectedTransport.transportationStatus === status"
                                            [ngValue]="status">
                                                {{ status }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Vehicle</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.vehicle"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Container Number</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.containerNumber"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Weight</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.weight"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Trailer</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.trailer"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.description"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Planned Checkin</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.plannedCheckin"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Actual Checkin</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.actualChecking"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Planned Start Loading</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.plannedStartLoading"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Current Start Loading</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.currentStartLoading"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Planned End Loading</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.plannedEndLoading"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Actual End Loading</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.actualEndLoading"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group readonly">
                                        <label>Planned Shipment Completion</label>
                                        <input class="form-control" type="text"
                                        [value]="selectedTransport.plannedShipmentCompletion"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group readonly">
                                        <label>Current Shipment Completion</label>
                                        <input class="form-control readonly" type="text"
                                        [value]="selectedTransport.currentShipmentCompletion"
                                        readonly="true">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Uom Weight</label>
                                        <select class="form-control readonly"
                                        readonly="true">
                                            <option *ngFor="let uom of ordersData.uomList"
                                            [selected]="selectedTransport.uomWeight === uom"
                                            [ngValue]="uom">
                                                {{ uom.name }}
                                            </option>
                                            <!--div class="select-footer" *ngIf="transportDataMap.uomWeight.addNew && viewMode === 'edit'">
                                                <span class="select-footer-content">
                                                    <a href="javascript: void(0)"
                                                    (click)="addNewObject(importingTypes.UOMS, 'Add new uom')">
                                                        <mat-icon *ngIf="transportDataMap.uomWeight.addNew.icon">{{ transportDataMap.uomWeight.addNew.icon }}</mat-icon>
                                                        <span>{{ transportDataMap.uomWeight.addNew.text }}</span>
                                                    </a>
                                                </span>
                                            </div-->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label>Uom Volume</label>
                                        <select class="form-control readonly"
                                        readonly="true">
                                            <option *ngFor="let uom of ordersData.uomList"
                                            [selected]="selectedTransport.uomVolume === uom"
                                            [ngValue]="uom">
                                                {{ uom.name }}
                                            </option>
                                            <!--div class="select-footer" *ngIf="transportDataMap.uomVolume.addNew && viewMode === 'edit'">
                                                <span class="select-footer-content">
                                                    <a href="javascript: void(0)"
                                                    (click)="addNewObject(importingTypes.UOMS, 'Add new uom')">
                                                        <mat-icon *ngIf="transportDataMap.uomVolume.addNew.icon">{{ transportDataMap.uomVolume.addNew.icon }}</mat-icon>
                                                        <span>{{ transportDataMap.uomVolume.addNew.text }}</span>
                                                    </a>
                                                </span>
                                            </div-->
                                        </select>
                                    </div>
                                </div>
                            </span>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
                <hr>
                <div class="col-sm-12">
                    <h5>Order Lines</h5>
                    <div class="col-sm-12 text-right mb-3">
                        <a mat-raised-button color="warn" (click)="exportOrderLines()" *ngIf="dataSource.data.length > 0">
                            <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                        </a>
                        <a mat-raised-button color="accent" (click)="addOrderLine()" class="ml-2"
                            *ngIf="viewMode === 'edit'">
                            <mat-icon>add</mat-icon> <span class="btn-label">Add new</span>
                        </a>
                    </div>
                    <ag-grid-angular
                    #agGrid
                    style="width: 100%; height: 300px;"
                    class="ag-theme-balham"
                    [frameworkComponents]="frameworkComponents"
                    [rowData]="ordersData.orderLineList"
                    [columnDefs]="orderLineColDefs"
                    editType="fullRow"
                    [animateRows]="true"
                    (gridReady)="onGridReady($event)"
                    (rowValueChanged)="updateOrderLine($event)">
                    </ag-grid-angular>
                </div>
                <div class="col-sm-12 text-right">
                    <button mat-button type="submit" *ngIf="viewMode === 'edit'" [disabled]="isLoadingResults">SAVE</button>
                    <a mat-button [disabled]="isLoadingResults" (click)="back()">BACK</a>
                </div>
            </form>
          </mat-card-content>
      </mat-card>
    </div>
</div>
