<h1>{{title}}</h1>
<div *ngIf="format === 'single'">
    <div *ngIf="!element">
        Nothing to print
    </div>
    <table class="table table-sm" border="1">
        <tr *ngFor="let property of properties">
            <td width="120"><strong>{{property.label}}</strong></td>
            <td>{{property.value}}</td>
        </tr>
    </table>
</div>
<div *ngIf="format === 'table'">
    <div *ngIf="!tableHeaders || !rows || !keys">
        Nothing to print
    </div>
    <table border="1" *ngIf="tableHeaders && rows && keys">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td *ngFor="let key of keys">{{renderColumn(modelMap[key].type, row[key])}}</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
