$primary: #00b19d;
$accent: #00535e;
$secondary: #00535e;
.content-area{
    background: rgb(0,83,94);
    background: -moz-linear-gradient(0deg, rgba(0,83,94,1) 50%, rgba(0,177,157,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,83,94,1) 50%, rgba(0,177,157,1) 100%);
    background: linear-gradient(0deg, rgba(0,83,94,1) 50%, rgba(0,177,157,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00535e",endColorstr="#00b19d",GradientType=1);
    height: 100%;
    color: white;
}

.content .header h1{
    color: white;
    background: unset;
    padding-left: 0px;
}

.step-buttons{
    margin-top: 50px;
    text-align: center;
}

::ng-deep .mat-horizontal-stepper-content{
    max-width: 400px;
    margin: auto;
    height: 100%;
}