/*$primary: #004B99;
$accent: #457C1F;
$secondary: #0A1060;*/
.content-area{
    background: var(--secondary);
    background: -moz-linear-gradient(0deg, var(--secondary) 50%, var(--primary) 100%);
    background: -webkit-linear-gradient(0deg, var(--secondary) 50%, var(--primary) 100%);
    background: linear-gradient(0deg, var(--secondary) 50%, var(--primary) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004B99",endColorstr="#0A1060",GradientType=1);
    height: 100%;
    color: white;
}

.content .header h1{
    color: white;
    background: unset;
    padding-left: 0px;
}

.step-buttons{
    margin-top: 50px;
    text-align: center;
}

::ng-deep .mat-horizontal-stepper-content{
    max-width: 400px;
    margin: auto;
    height: 100%;
}