<div class="content-area">
    <div class="content">
        <div class="section-wrapper">
            <div class="header actionbar align-content-top  text-center">
                <div class="title actionbar-section align-content-top w-100">
                    <h1>Welcome, please set the organizational data before continue</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6" style="margin-left: auto; margin-right: auto">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Initialization Data</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="example-loading-shade" *ngIf="isLoadingResults">
                                <mat-spinner *ngIf="isLoadingResults" class="spinner"></mat-spinner>
                            </div>
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label>City</label>
                                    <select formControlName="selectedCity" required class="form-control">
                                        <option *ngFor="let opt of cities; let i = index" [value]="i">
                                            {{ opt.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Plant</label>
                                    <select formControlName="selectedPlant" required class="form-control">
                                        <option *ngFor="let opt of plants; let i = index" [value]="i">
                                            {{ opt.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Depot</label>
                                    <select formControlName="selectedDepot" required class="form-control">
                                        <option *ngFor="let opt of depots; let i = index" [value]="i">
                                            {{ opt.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Owner</label>
                                    <select formControlName="selectedOwner" required class="form-control">
                                        <option *ngFor="let opt of owners; let i = index" [value]="i">
                                            {{ opt.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="w-100 text-center">
                                    <button mat-raised-button color="primary" type="submit">Enter</button>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>