<div class="content-area">
    <!-- button mat-fab class="fab-button" (click)="reloadData()"><mat-icon>sync</mat-icon></button-->
    <div class="content">
      <div class="section-wrapper">
          <div class="header actionbar align-content-top">
              <div class="title actionbar-section align-content-top">
                  <h1>{{ pageTitle }}</h1>
              </div>
              <div class="actions actionbar-section right">
                <button mat-raised-button color="accent" (click)="print()">
                    <mat-icon>printer</mat-icon> <span class="btn-label">Print</span>
                </button>
                <button mat-raised-button color="warn" (click)="export()">
                    <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                </button>
              </div>
          </div>
      </div>
      <mat-card>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults" class="spinner"></mat-spinner>
            </div>
            <mat-card-header>
                <mat-card-title>{{cardTitle}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div mat-dialog-content>
                    <span *ngFor="let key of keys">
                        <mat-form-field [readonly]="viewMode === 'view'" class="col-sm-12 col-md-4 col-lg-3"
                        [appearance]="dataMap[key].type === 'boolean' ? 'none' : ''">
                            <mat-label>{{dataMap[key].name}} {{dataMap[key].required ? '*' : ''}}</mat-label>
                            <!-- campos number -->
                            <input class="w-100" matInput type="number" [formControlName]="key" *ngIf="dataMap[key].type === 'number'"
                            [readonly]="viewMode === 'view'">
                            <!-- campos date -->
                            <input matInput [formControlName]="key" [matDatepicker]="pickerDate" *ngIf="dataMap[key].type === 'date'"
                            readonly>
                            <mat-datepicker-toggle matSuffix [for]="pickerDate" *ngIf="dataMap[key].type === 'date' && viewMode === 'edit'" ></mat-datepicker-toggle>
                            <mat-datepicker #pickerDate ></mat-datepicker>
                            <!-- campos string -->
                            <input class="w-100" matInput type="text" [formControlName]="key"
                            [readonly]="viewMode === 'view'"
                            *ngIf="dataMap[key].type !== 'number' && dataMap[key].type !== 'boolean' && dataMap[key].type !== 'date'">
                            <!-- campos boolean -->
                            <input matInput [formControlName]="key" [readonly]="viewMode === 'view'" hidden>
                            <mat-slide-toggle  *ngIf="dataMap[key].type === 'boolean'" color="primary"
                            [disabled]="viewMode === 'view'"
                            (change)="form.get(key).setValue(!form.get(key).value)" [checked]="form.get(key).value">
                                {{dataMap[key].name}}
                            </mat-slide-toggle>
                        </mat-form-field>
                        <span *ngIf="viewMode === 'view'">

                        </span>
                    </span>
                </div>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button type="submit" *ngIf="viewMode === 'edit'" [disabled]="isLoadingResults">SAVE</button>
                <a mat-button [disabled]="isLoadingResults" (click)="back()">BACK</a>
            </mat-card-actions>
        </form>
        <div *ngIf="viewMode === 'view'">

        </div>
      </mat-card>
    </div>
</div>
