<div class="content-area">
  <button mat-fab class="fab-button" (click)="reloadData()"><mat-icon>sync</mat-icon></button>
  <div class="content">
    <div class="section-wrapper">
      <div class="header actionbar align-content-top">
        <div class="title actionbar-section align-content-top">
          <h1>Picking Tasks</h1>
        </div>
        <div class="actions actionbar-section right">
          <button mat-raised-button color="warn" (click)="export()">
            <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
          </button>
          <button mat-raised-button color="accent" (click)="addRow()" class="ml-2">
            <mat-icon>add</mat-icon> <span class="btn-label">Add new</span>
          </button>
        </div>
      </div>
    </div>
    <div>
      <div class="example-loading-shade" *ngIf="dataSource.loading$ | async">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
      <div>
        <!--strong *ngIf="filteredDone">Filtred results: {{dataSource.dataCount}}</strong-->
        <div class="table-toolbar" *ngIf="selection.selected.length > 0">
          <div class="col-sm-3 text-left toolbar-label">
            <label>Selected rows: {{selection.selected.length}}</label>
          </div>
          <!--div class="col-sm-9 text-right toolbar-buttons">
            <button class="" (click)="advancedOptions()">Advanced options</button>
            <button class="" (click)="chechTasks(selection.selected)">Check tasks</button>
            <button class="" (click)="cancelTasks(selection.selected)">Cancel tasks</button>
            <button class="" (click)="orderingProcess(selection.selected)">Ordering process</button>
            <button class="" (click)="export(selection.selected)">Export</button>
            <button class="delete-button" (click)="deletePrompt(selection.selected)">Delete</button>
          </div-->
        </div>
        <!--table mat-table [dataSource]="dataSource" matSort [class.mat-table-hoverflow]="getDisplayedHeadersColumns().length > 10"-->
        <table mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="asc" [class.mat-table-hoverflow]="getDisplayedHeadersColumns().length > 11">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- Data Columns -->
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedDataColumns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ definitions[column].name | uppercase}}
              <span (keyup)="$event.stopPropagation()" (click)="$event.stopPropagation()" (keydow)="$event.stopPropagation()">
                <mat-icon class="column-filter-icon" [ngClass]="{'active': isFilteredBy(column)}" [matMenuTriggerFor]="filterColumnMenu">
                    filter_list
                </mat-icon>
                <mat-menu #filterColumnMenu="matMenu" (keyup)="$event.stopPropagation()" class="column-filter-menu"
                (click)="$event.stopPropagation()" (keydow)="$event.stopPropagation()">
                  <span (click)="$event.stopPropagation()" class="btn-filter2-wrapper">
                      <!--button mat-mini-fab aria-label="Clear filter" class="btn-filter-menu"
                      (click)="clearFilterInColumn(column)">
                          <mat-icon>block</mat-icon>
                      </button-->
                      <button mat-button aria-label="Clear filter" (click)="clearFilterInColumn(column)"
                      class="btn-filter2">
                          <!--mat-icon style="font-size: 14px">block</mat-icon--> clear filter
                      </button>
                  </span>
                  <span (keyup)="$event.stopPropagation()" class="form-group" (click)="$event.stopPropagation()" (keydow)="$event.stopPropagation()"
                    *ngIf="definitions[column].formControl.control !== 'select' &&
                                        definitions[column].formControl.control !== 'toggle'">
                      <select class="form-control" [formControl]="filters[column].controls.type"
                      [name]="column+'-type'">
                          <option *ngFor="let type of filters[column].availableTypes"
                          [value]="type.value">
                              {{ type.name }}
                          </option>
                      </select>
                  </span>
                  <span class="form-group" *ngIf="definitions[column].formControl.control === 'select'" (keyup)="$event.stopPropagation()"
                    (click)="$event.stopPropagation()" (keydow)="$event.stopPropagation()">
                      <select class="form-control" [formControl]="filters[column].controls.value"
                      [name]="column">
                          <option value="">Select a value</option>
                          <option *ngFor="let data of selectsData[column]"
                          [value]="data.id !== undefined && data.id !== null ? data.id : 
                          (definitions[column].formControl.valueIndex !== null ?
                          data[definitions[column].formControl.valueIndex] : data)">
                              {{ definitions[column].formControl.displayIndex !== null ?
                                  data[definitions[column].formControl.displayIndex] : data }}
                          </option>
                      </select>
                  </span>
                  <span class="form-group" *ngIf="definitions[column].formControl.control === 'input' ||
                                      definitions[column].formControl.control === 'date'" (keyup)="$event.stopPropagation()"
                        (click)="$event.stopPropagation()" (keydow)="$event.stopPropagation()">
                    <input [type]="filters[column].type" class="form-control" [name]="column"
                                          [formControl]="filters[column].controls.value">
                  </span>
                  <span class="form-group" *ngIf="definitions[column].formControl.control === 'toggle'" (keyup)="$event.stopPropagation()"
                  (click)="$event.stopPropagation()" (keydow)="$event.stopPropagation()">
                    <mat-slide-toggle color="primary" [formControl]="filters[column].controls.value"></mat-slide-toggle>
                  </span>
                </mat-menu>
              </span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="column !== 'progress'">
                {{ element[column] }}
              </span>
              <span *ngIf="column === 'progress'">
                <mat-progress-bar class="progress-bar-td" type="determinate" [value]="element[column]"></mat-progress-bar>
              </span>
            </td>
          </ng-container>
          <!-- Options Sticky Column -->
          <ng-container matColumnDef="options" stickyEnd>
            <th mat-header-cell *matHeaderCellDef [class.more-button-header]="true">
              {{'Options' | uppercase}}
              <button mat-icon-button [matMenuTriggerFor]="toggleColumns" aria-label="Toggle headers">
                  <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #toggleColumns="matMenu" (click)="$event.stopPropagation()">
                <span>
                  <button mat-menu-item (click)="toggleColumn()">Show all</button>
                  <button mat-menu-item  *ngFor="let column of getDefaultHeadersColumns();"
                  (click)="toggleColumn(column)">
                      <mat-icon color="accent">{{ column.show ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                      {{column.name}}
                  </button>
                </span>
              </mat-menu>
            </th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
              <!--button mat-icon-button (click)="editRowOnDialog(element)">
                  <img src="assets/icons/zoom.png">
              </button-->
              <!--button mat-icon-button (click)="editRowOnPage(element)">
                  <img src="assets/icons/zoom.png">
              </button-->
              <button mat-icon-button [routerLink]="['/pages/' + type + '/view', element.id]">
                  <img src="assets/icons/zoom.png">
              </button>
              <button mat-icon-button [routerLink]="['/pages/' + type + '/edit', element.id]">
                  <img src="assets/icons/page_edit.png">
              </button>
              <!--button mat-icon-button (click)="printRow(element)">
                  <img src="assets/icons/printer.png">
              </button-->
              <a mat-icon-button [href]="'/print/' + type + '/' + element.id" target="_blank">
                  <img src="assets/icons/printer.png">
              </a>
              <button mat-icon-button (click)="deletePrompt(element)">
                  <img src="assets/icons/delete.png">
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="getDisplayedHeadersColumns()"></tr>
          <!--tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumns();"
                    [ngClass]="{'alert alert-danger': row.invalid}" (click)="editRow(row)"></tr-->
          <tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumns();"
          [ngClass]="{'alert alert-danger': row.invalid}"
          [routerLink]="['/pages/' + type + '/view', row.id]"
          [contextMenu]="basicMenuC" [contextMenuSubject]="row"></tr>
        </table>
        <mat-paginator [length]="dataSource.dataCount" [pageSize]="10" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
      </div>
      <context-menu #basicMenu>
          <ng-template contextMenuItem [subMenu]="statusSubmenu">
              Status
          </ng-template>
          <context-menu #statusSubmenu>
              <ng-template contextMenuItem
              (execute)="executeContext('activateTask', $event.item)">
                  {{ selection.selected.length === 0 ? 'Activate task' :
                   'Activate selected tasks'}}
              </ng-template>
              <ng-template contextMenuItem divider="true"></ng-template>
              <ng-template contextMenuItem 
              (execute)="executeContext('cancelTask', $event.item)">
              {{ selection.selected.length === 0 ? 'Cancel task' :
              'Cancel selected tasks'}}
              </ng-template>
          </context-menu>
          <ng-template contextMenuItem let-item [subMenu]="prioritySubmenu"
          *ngIf="selection.selected.length === 0">
              Priority ({{item?.priority}})
          </ng-template>
          <context-menu #prioritySubmenu>
              <ng-template contextMenuItem
              (execute)="executeContext('incrementPriority', $event.item)">
                  Increment
              </ng-template>
              <ng-template contextMenuItem divider="true"></ng-template>
              <ng-template contextMenuItem 
              (execute)="executeContext('decrementPriority', $event.item)">
                  Decrement
              </ng-template>
          </context-menu>
          <ng-template contextMenuItem divider="true"></ng-template>
          <ng-template contextMenuItem (execute)="executeContext('assignToUser', $event.item)">
                  {{ selection.selected.length === 0 ? 'Assign task to user' :
                  'Assign selected tasks to user'}}
          </ng-template>
          <ng-template contextMenuItem (execute)="executeContext('viewBySku', $event.item)"
          *ngIf="selection.selected.length === 0">
              View
          </ng-template>
          <!--context-menu #viewSubmenu>
              <ng-template contextMenuItem
              (execute)="executeContext('viewBySku', $event.item)">
                  By Sku
              </ng-template>
              <ng-template contextMenuItem divider="true"></ng-template>
              <ng-template contextMenuItem
              (execute)="executeContext('viewByCode', $event.item)">
                  By Code
              </ng-template>
          </context-menu-->
      </context-menu>
    </div>
  </div>
</div>