<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!--link rel="stylesheet" href="style.css" media="all" /-->
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="assets/images/logo.png">
      </div>
      <div id="company">
        <h2 class="name">{{companyName}}</h2>
        <div>{{companyAddress}}</div>
        <div>{{companyPhones}}</div>
        <div><a [href]="'mailto:' + companyEmail">{{companyEmail}}</a></div>
      </div>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>{{footer}}</footer>
  </body>
</html>
