.hover-row .show-hover{
  opacity: 0;
  /*display: none;*/
  transition: all 0.5s;
}
.hover-row:hover .show-hover{
  opacity: 1;
  /*display: block;*/
}
.column-filter-icon {
    position: relative;
    display: inline-block;
    padding-left: 15px;
}

.mat-header-row th {
    display: table-cell;
}

.mat-dialog-content {
    max-height: 50vh !important;
}
