/* You can add global styles to this file, and also import other style files */
$primary: #004B99;
$accent: #457C1F;
$secondary: #0A1060;
@import "node_modules/bootstrap/scss/bootstrap";
@import "~assets/font-awesome-4.7.0/css/font-awesome.min.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import '~angular-tree-component/dist/angular-tree-component.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
// estilos para query builder
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-querybuilder/styles/material.css";

html, body {
  height: 100%;
  /*overflow: hidden;*/
  color: #767681;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
  font-size: 12px;
}
.form-group {
  position: relative;
  display: grid;
}
.form-group.row {
  display: flex;
}
.mat-menu-content .form-group{
  position: unset;
}
.form-control{
  font-size: 12px;
}
.form-group.row .form-control, .form-group.row .select2-container {
  /*width: calc(100% - 35px) !important;*/
}

.select2-selection {
  display: block !important;
  width: 100% !important;
  height: calc(1.5em + 0.75rem + 2px) !important;
  padding: 0.375rem 0.75rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  font-size: 12px !important;
}

.select2-selection:focus, .select2-container:focus {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #1a8aff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 75, 153, 0.25) !important;
}

.select2.ng-invalid:not(form) ~ .select2-container .select2-selection {
  border-left: 5px solid #a94442!important;
}

.select2.ng-valid:not(form) ~ .select2-container .select2-selection {
  border-left: 5px solid #42A948!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: inherit !important;
}

.select2-selection__arrow b {
  border-color: #505050 !important;
  border-style: solid !important;
  border-width: 0 2px 2px 0 !important;
  transform: rotate(45deg) !important;
  height: 7px !important;
  left: 50% !important;
  margin-left: -4px !important;
  margin-top: -2px !important;
  position: absolute !important;
  top: 50% !important;
  width: 7px !important;
}

.form-check-input {
  position: relative;
  margin-top: unset;
  margin-left: unset;
}
.help-icon {
  background-image: url('assets/icons/sm-help.png') !important;
  background-position: top;
  background-repeat: no-repeat;
  cursor: help;
  width: 21px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.col-form-label {
  font-size: 12px;
}
.mat-card-content {
  font-size: 12px;
}
button:focus {
  outline: none !important;
}
.ngx-contextmenu{

}
.ngx-contextmenu .dropdown-menu{
  padding: 0;
}
.ngx-contextmenu .dropdown-menu .dropdown-divider{
  margin: 0;
}
.mat-sidenav>.mat-drawer-inner-container{
  overflow-y: scroll;
}
.mat-sidenav>.mat-drawer-inner-container::-webkit-scrollbar {
  width: 8px;
}
.mat-sidenav>.mat-drawer-inner-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
.mat-sidenav>.mat-drawer-inner-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}
.mat-sidenav>.mat-drawer-inner-container::-webkit-scrollbar-track {
  background: transparent;
}
.user-menu{
  width: 200px;
}
.user-menu .mat-menu-item{
  border-top: 1px solid rgba(0,0,0,0.08);
  color: #767681;
}
.user-menu .mat-menu-item:hover{
  color: var(--primary) !important;
}
.user-menu:before, .user-menu:after {
  bottom: 100%;
  left: 98.5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.user-menu:before {
    border-color: transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 9px;
    margin-left: -9px;
}
.column-filter-menu {
  padding: 8px !important;
  max-width: 150px !important;
}
.column-filter-menu .mat-menu-content{
  padding: 0 !important;
}
.column-filter-menu .mat-menu-content .form-group {
  display: unset !important;
}
.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.column-filter-icon {
  position: absolute;
  right: 0px;
  opacity: 0;
  transition: all 0.5s;
  font-size: 14px;
  color: rgb(0, 0, 0)
}
.btn-filter2-wrapper{
  float: right;
}
.btn-filter2{
  padding: 0 !important;
  line-height: unset !important;
}
.btn-filter2 .mat-icon{
  font-size: 14px !important;
  line-height: unset !important;
  height: auto !important;
}
.progress-bar-fromcontrol{
  height: 20px;
}
.mat-progress-bar.progress-bar-td{
  height: 14px !important;
}
.mat-form-field.progress-bar .mat-form-field-wrapper {
  padding-bottom: 10px;
}
.mat-form-field.progress-bar .mat-form-field-wrapper .mat-progress-bar{
  height: 20px;
  position: absolute;
}
.mat-sort-header-container{
  width: 100% !important;
}
.mat-sort-header-button:hover .column-filter-icon {
  opacity: 0.3;
}
.column-filter-icon:hover {
  opacity: 0.6;
  font-weight: bold;
}
.column-filter-icon.active {
  opacity: 1;
  color: $secondary;
}
.column-filter-menu .form-control{
  font-size: 12px;
}
th.mat-header-cell {
  min-width: max-content !important;
  padding-left: 20px !important;
}
.mat-sort-header-arrow, [dir=rtl] .mat-sort-header-position-before .mat-sort-header-arrow {
  margin: 0 0 0 0px !important;
}
.mat-sort-header-button{
  min-width: 100% !important;
  max-width: 250px !important;
  width: max-content !important;
  position: relative !important;
  align-items: end !important;
  padding-right: 20px !important;
}
.mat-sort-header-button::-webkit-textfield-decoration-container{
  width: max-content;
}
.mat-menu-panel .btn-filter-menu{
  position: absolute !important;
  top: -18px !important;
  height: 25px !important;
  left: 130px !important;
  width: 25px !important;
}
.mat-menu-panel .btn-filter-menu .mat-button-wrapper{
  padding: 0;
  display: block;
  line-height: 0px;
}
.mat-menu-panel .btn-filter-menu .mat-icon{
  font-size: 17px !important;
  height: 17px;
  width: 17px;
}
.fab-button {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.button-right{
  position: absolute !important;
  right: 0px;
}
.mat-sidenav .mat-expansion-panel-header-description, .mat-sidenav .mat-expansion-indicator::after {
  color: rgba(255, 255, 255, 1);
}
.content-area {
  overflow: auto;
  padding: 2rem 0 2rem 0;
}
.content-area .content {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}
header, #plan-consumption-container .header {
  background: 0;
  border-radius: 8px;
  margin-bottom: 21px;
  padding-left: 11px;
  position: relative;
  overflow: visible;
  padding: 0;
}
.section-wrapper .header, .mailbox-header, .resolution-header {
  background: #f3f3f3;
  border-radius: 8px;
  margin-bottom: 21px;
  padding-left: 11px;
  position: relative;
  overflow: hidden;
  padding: 16px 18px;
}
.actionbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 5.6rem;
  background: #fff;
}
.actionbar.align-content-top {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  height: auto;
}
.section-wrapper .header, .mailbox-header, .resolution-header,
#plan-consumption-container .header {
  background: 0;
  border-radius: 8px;
  margin-bottom: 21px;
  padding-left: 11px;
  position: relative;
  overflow: visible;
  padding: 0;
}
.section-wrapper .header .actions, .resolution-header .actions {
  float: left;
  margin-left: 43px;
}
.content .header h1{
  color: var(--secondary);
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
  font-family: "Roboto",sans-serif;
  background: url('assets/icons/index-icon.png') no-repeat 0 0px;
  background-size: contain;
  height: 38px;
  padding-left: 50px;
}
.ag-header-cell-label{
  color: var(--secondary) !important;
  font-weight: bold !important;
  font-family: "Roboto",sans-serif;
  font-size: 12px !important;
}
tr.mat-header-row{
  background: none !important;
  background: #f3f5f7 !important;
  font-weight: bold !important;
  font-family: "Roboto",sans-serif;
  font-size: 12px !important;
  height: 40px !important;
  text-align: center;
  color: var(--accent) !important;
  border: none !important;
}
.mat-header-cell {
  font-size: 10px;
  font-weight: 400;
  color: var(--accent);
  height: 40px;
  font-weight: bold;
}
.mat-button, .mat-raised-button, .mat-icon-button,
.mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .1rem;
}
mat-table {
  min-height: 300px;
}
table{
  width: 100%;
}
table.mat-table {
  width: 100%;
  display: table;
  overflow-x: scroll;
}
table.mat-table-hoverflow{
  display: block;
}
.table-toolbar{
  font-size: 11px;
  border-style: solid;
  padding: 2px 0 2px 2px;
  border-color: white;
  background-color: white;
  border-width: 1px;
  color: var(--accent) !important;
  // position: absolute!important;
  z-index: 1;
  display: flex;
  right: auto;
  left: 0px;
  top: 0px;
  vertical-align: -webkit-baseline-middle;
}
.table-toolbar .toolbar-label, .table-toolbar .toolbar-buttons{
  vertical-align: -webkit-baseline-middle;
  padding-right: 0px;
}
.table-toolbar label{
  font-weight: 700;
  margin-bottom: 0px;
  vertical-align: -webkit-baseline-middle;
}
.table-toolbar button{
  font-size: 11px;
  font-weight: normal;
  font-family: tahoma,arial,verdana,sans-serif;
  color: #333;
  padding: 1px;
  padding-left: 22px;
  border-radius: 5px;
  border: 1px #767681 solid;
  background-position: left center;
  border-color: #cac9c9 !important;
  color: var(--accent) !important;
  transition: background .2s ease;
}
.table-toolbar button.print-button{
  background: url('assets/icons/printer.png') no-repeat 4px center;
}
.table-toolbar button.download-pdf-button{
  background: url('assets/icons/ico_pdf.png') no-repeat 4px center;
}
.table-toolbar button.delete-button{
  background: url('assets/icons/delete.png') no-repeat 4px center;
}
table tbody tr.mat-row:not(.example-detail-row):hover{
  background: rgb(245, 245, 245);
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.mat-slide-toggle + span > label {
  display: none !important;
}
.cdk-global-scrollblock{
  overflow: hidden;
}
.filters-controls{
  width: 100%;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.slide1 {
  background-image: url('assets/images/slide1.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2 {
  background-image: url('assets/images/slide2.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3 {
  background-image: url('assets/images/slide3.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
}
mat-sidenav-content{
  padding-bottom: 10px;
};
mat-label{
  /*word-break: break-all;*/
}

.example-loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.82);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.example-loading-shade .loading-popup{
  background: white;
  padding: 3%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 20px 1px rgba(0,0,0,0.75);
}
mat-datepicker{
  z-index: 1000;
}

.mat-elevation-z0{
    box-shadow: unset;
}
.filters-panel{
  display: flex !important;
}
.filters-panel .filters-list .mat-selection-list .mat-list-option{
  height: auto !important;
  font-size: 11px !important;
}
.mat-sidenav .mat-expansion-panel {
  background: unset !important;
  color: white;
}
.mat-sidenav .mat-expansion-panel-content {
  background-color: rgba(0,0,0,0.1);
}
.mat-sidenav .mat-expansion-panel-body {
  padding: 0px !important;
}
.mat-sidenav .mat-list-item-content {
  padding: 0 24px !important;
}
.mat-dialog-content-p0 {
  padding: 0px !important;
}
.more-button {
  position: absolute !important;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
th.more-button-header{
  text-align: right !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  max-width: 150px !important;
  width: 130px !important;
  min-width: 130px !important;
}
tr.mat-footer-row, tr.mat-row {
  height: 40px !important;
}
td.mat-cell{
  font-size: 11px;
  white-space: nowrap;
}
td.mat-cell.mat-column-options.mat-table-sticky{
  text-align: center !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  /*max-width: 100px !important;*/
  width: 100px !important;
  background: linear-gradient(90deg, rgb(199, 199, 199) 1%, white 2%);
  min-width: 100px !important;
}

tr:hover td.mat-cell.mat-column-options.mat-table-sticky{
  /*background: none !important;*/
}
td.mat-cell.mat-column-options.mat-table-sticky .mat-icon-button{
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}
.min-height-80 {
  min-height: 80vh;
}
.btn-label{
    margin-left: 10px;
}
a.mat-list-item{
  height: 40px;
}
a.mat-list-item, .mat-sidenav .mat-expansion-panel{
  border-top: 1px solid rgba(0,0,0,0.07);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.07);
}
.mat-sidenav .mat-expansion-panel-content a.mat-list-item,
.mat-sidenav .mat-expansion-panel-content .mat-expansion-panel{
  border-top: 0;
  border-top-width: 0;
}
a.mat-list-item:hover{
  background: unset;
}
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus {
  background: rgba(0, 0, 0, 0.04) !important;
  transition: background 0.5s;
}
a.mat-list-item.active{
  background: rgba(0,0,0,0.05);
}
a.mat-list-item.active .mat-list-item-content:before {
  content: " ";
  position: absolute;
  border-left: 3px solid #bfcd31 !important;
  height: 100%;
  width: 2px;
  left: 0px;
}
.mat-slide-toggle-thumb-container, .mat-table-sticky {
  z-index: 0 !important;
}
.tab-orders .mat-tab-body-content {
  margin-top: 3% !important;
  height: unset;
}
.tab-specific-information .mat-tab-body-content {
  overflow: hidden !important;
}
.mat-tab-body-content {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
a:hover {
  color: var(--primary);
  text-decoration: underline;
}
a.mat-raise-button{
  text-decoration: none;
}
.readonly {
  pointer-events: none !important;
  cursor: not-allowed !important;
  background-color: #e9ecef00;
}
.form-control[readonly] {
  background-color: #e9ecef00;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #f74343;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: #f74343;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.footer-label{
  float: inherit; flex: auto; display: flex; left: 0;
}
.select-footer{
  box-shadow: inherit;
  position: sticky;
  bottom: 0;
  text-align: center;
  padding: 3%;
  background: inherit;
}
.select-footer .select-footer-content{
  color: var(--primary);
  font-size: inherit;
}
.select-footer .select-footer-content a{
  vertical-align: middle;
  display: inline-flex;
  text-decoration: none;
}
.select-footer .select-footer-content a > span{
  text-decoration: underline;
}
.toggle-filters-btn{
  position: absolute;
  bottom: 0;
  right: 0
}
.toggle-input .mat-form-field-wrapper{
  padding-bottom: 0px;
}
.input-group-wrapper{
  border: outset rgb(229, 229, 229);
  padding-left: 20px;
  padding-right: 20px;
  /*max-width: 200px;*/
  padding-bottom: 10px;
}

div.tree div.tree-children::before,
div.tree::before {
    content: "";
    position: absolute;
    border-left: 1px dotted var(--secondary);
    height: 80%;
    /* top: 60px;*/
    left: 13px;
}

div.tree {
    padding-left: 0;
    margin-left: -5px
}

div.tree div.tree-children {
    position: relative;
    padding-left: 0;
    margin-left: 16px
}

div.tree div.tree-children::before {
    left: 5px
}

div.tree tree-node>div.tree-node-collapsed>tree-node-wrapper>.node-wrapper {
    margin-left: 24px
}

div.tree tree-node>div.tree-node-expanded>tree-node-wrapper>.node-wrapper {
  margin-left: 24px
}

div.tree tree-node>div>tree-node-wrapper>.node-wrapper>.node-content-wrapper {
    margin-left: 4px
}

div.tree tree-node>div.tree-node-leaf>.node-wrapper {
    margin-left: 0
}

div.tree tree-node>div::before {
    content: "";
    position: absolute;
    border-bottom: 1px dotted var(--secondary);
    width: 7px;
    margin-top: 12px;
    left: 7px
}

div.tree tree-node>div .toggle-children-wrapper {
    width: 13px;
    height: 13px;
    border: 1px solid var(--secondary);
    position: absolute;
    left: 15px;
    margin-top: 5px;
    margin-left: 0;
    display: inline-block;
    background-color: #fff;
    z-index: 1
}

div.tree tree-node>div .toggle-children-wrapper::before {
    content: "";
    display: inline-block;
    width: 7px;
    border-top: 1px solid var(--secondary);
    position: absolute;
    top: 5px;
    left: 2px
}

div.tree tree-node>div .toggle-children-wrapper.toggle-children-wrapper-collapsed::after {
    content: "";
    display: inline-block;
    height: 7px;
    border-left: 1px solid var(--secondary);
    position: absolute;
    top: 2px;
    left: 5px
}

div.tree tree-node>div .toggle-children-wrapper .toggle-children {
    display: none
}

div.tree tree-node>div .node-content-wrapper {
    margin-left: 4px
}

div.tree>tree-node>div::before {
    left: 14px
}

div.tree>tree-node>div>tree-node-wrapper>.node-wrapper>tree-node-expander>.toggle-children-wrapper {
    left: 22px
}

div.tree tree-node-expander + div.node-content-wrapper {
  /*margin-left: 30px*/
}

.tree-node-checkbox{
  margin-top: 4px;
  margin-left: 13px;
}

.add-link{
  position: absolute;
  right: 0;
}

.status-bar {
  transition: all 1s;
  z-index: 9998;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 28px;
  padding: 5px;
  background-color: #efebde;
  color: black;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  border: #D6D2C6 solid 1px;
  transition: all ease-in 1s;
}

.status-bar .row {
  width: 100%;
}

.mat-drawer-opened ~ .mat-sidenav-content .status-bar .row {
  width: calc(100% - 220px);
}

.status-bar .user-data{
  float: left;
  display: inline-flex;
}
.status-bar.show{
  height: 100px;
}
.status-bar .user-data li{
  padding-left: 5px;
  padding-right: 5px;
  list-style-type: none;
}
.status-bar .tools{
  z-index: 9999;
  right: 350px;
  position: absolute;
  top: 5px;
}
.text-accent {
  color: $accent;
}
.up-arrow{
  display: none;
}

.mat-warn .mat-icon.mat-accent  {
  color: white !important;
}

@media screen and (max-width:1280px){
  .header.actionbar.align-content-top .title.actionbar-section.align-content-top {
    width: 100%;
  }
  .header.actionbar.align-content-top .actions.actionbar-section.right{
    text-align: right;
  }
  .status-bar .tools{
      right: 250px;
      position: absolute;
      top: 50px;
      width: fit-content;
  }

  .status-bar .row{
      position: fixed;
  }

  .up-arrow{
      display: block;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      left: 0;
      background: var(--primary);
      padding: 5px;
      border-radius: 20px;
      width: 30px;
      height: 30px;
      text-align: center;
      color: white;
      top: -25px;
      cursor: pointer;
      transition: all 2s;
  }
  .up-arrow:before{
      content: '\f062';
      vertical-align: -webkit-baseline-middle;
  }
  .up-arrow.show:before{
      content: '\f063';
      vertical-align: -webkit-baseline-middle;
  }
}

@media screen and (max-width:480px){
  table.mat-table{
    display: block;
  }
  .footer-label{
    width: -webkit-fill-available;
  }
  .section-wrapper .header .actions, .resolution-header .actions {
    float: left;
    margin-left: unset;
    text-align: right;
    width: min-content;
  }
  .toggle-filters-btn{
    position: absolute;
    bottom: 0;
    right: 0
  }
  .content .header h1{
    font-size: 1.5rem;
    width: -webkit-fill-available;
  }
  .toolbar-username {
    right: 20%;
  }
  .cdk-overlay-pane{
    max-width: 100vw !important;
    width: unset;
  }
  .btn-menu, .btn-menu mat-icon{
    width: unset;
  }
  .btn-label{
      display: none !important;
  }
  .mat-sidenav .mat-expansion-panel {
    background: unset;
    color: white;
  }
  .mat-sidenav .mat-expansion-panel-content {
    background-color: rgba(0,0,0,0.1);
  }
  .mat-sidenav .mat-expansion-panel-body {
    padding: 0px !important;
  }
  .status-bar .tools{
      right: 10px;
      position: absolute;
      top: 5px;
      width: fit-content;
  }
  .status-bar.show{
      height: 90px;
  }
  .up-arrow{
      display: block;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      left: 0;
      background: var(--primary);
      padding: 5px;
      border-radius: 20px;
      width: 30px;
      height: 30px;
      text-align: center;
      color: white;
      top: -15px;
      cursor: pointer;
      transition: all 2s;
  }
  .up-arrow:before{
      content: '\f062';
      vertical-align: -webkit-baseline-middle;
  }
  .up-arrow.show:before{
      content: '\f063';
      vertical-align: -webkit-baseline-middle;
  }
}
