/* You can add global styles to this file, and also import other style files */
@import "custom-bootstrap.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

html, body { 
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
}
table{
  width: 100%;
}
table.mat-table {
  display: table;
}
th.mat-header-cell {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.cdk-global-scrollblock{
  overflow: hidden;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .slide1 {
    background-image: url('assets/images/slide1.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: cover;
  }
  .slide2 {
    background-image: url('assets/images/slide2.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: cover;
  }
  .slide3 {
    background-image: url('assets/images/slide3.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: cover;
  }
  .mat-table {
    overflow-x: scroll;
  }
  mat-sidenav-content{
    padding-bottom: 20%;
  };
  mat-label{
    word-break: break-all;
  }

  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  mat-datepicker{
    z-index: 1000;
  }
  mat-table {
    min-height: 300px;
  }
  .mat-elevation-z0{
      box-shadow: unset;
  }
  .mat-expansion-panel {
    background: unset !important;
    color: white;
  }
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true])
  .mat-expansion-panel-header:hover {
      background: unset !important;
  }
  .mat-expansion-panel-content {
    background-color: rgba(0,0,0,0.1);
  }
  .mat-expansion-panel-body {
    padding: 0px !important;
  }
  .mat-list-item-content {
    padding: 0 24px !important;
  }
  .mat-dialog-content-p0 {
    padding: 0px !important;
  }
  .more-button {
    position: absolute !important;
    top: 20px;
    right: 20px;
  }
  .min-height-80 {
    min-height: 80vh;
  }

  .btn-label{
      margin-left: 10px;
  }
  
  @media screen and (max-width:350px){
    .cdk-overlay-pane{
      max-width: 100vw !important;
      width: 97vw !important;
    }
    .btn-menu, .btn-menu mat-icon{
      width: unset;
    }
    .btn-label{
        display: none !important;
    }
    .mat-expansion-panel {
      background: unset;
      color: white;
    }
    .mat-expansion-panel-content {
      background-color: rgba(0,0,0,0.1);
    }
    .mat-expansion-panel-body {
      padding: 0px !important;
    }
  }