@import '~@angular/material/theming';
@include mat-core();
/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #e0e9f3,
    100 : #b3c9e0,
    200 : #80a5cc,
    300 : #4d81b8,
    400 : #2666a8,
    500 : #004b99,
    600 : #004491,
    700 : #003b86,
    800 : #00337c,
    900 : #00236b,
    A100 : #9ab2ff,
    A200 : #678cff,
    A400 : #3465ff,
    A700 : #1a52ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-dark: (
    50 : #e2e2ec,
    100 : #b6b7cf,
    200 : #8588b0,
    300 : #545890,
    400 : #2f3478,
    500 : #0a1060,
    600 : #090e58,
    700 : #070c4e,
    800 : #050944,
    900 : #030533,
    A100 : #6b70ff,
    A200 : #383fff,
    A400 : #050dff,
    A700 : #0008eb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #e9efe4,
    100 : #c7d8bc,
    200 : #a2be8f,
    300 : #7da362,
    400 : #619041,
    500 : #457c1f,
    600 : #3e741b,
    700 : #366917,
    800 : #2e5f12,
    900 : #1f4c0a,
    A100 : #a3ff82,
    A200 : #7dff4f,
    A400 : #58ff1c,
    A700 : #45ff03,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #e0e9f1,
    100 : #b3c7db,
    200 : #80a2c4,
    300 : #4d7dac,
    400 : #26619a,
    500 : #004588,
    600 : #003e80,
    700 : #003675,
    800 : #002e6b,
    900 : #001f58,
    A100 : #8aa7ff,
    A200 : #5781ff,
    A400 : #245bff,
    A700 : #0a47ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-light: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-app-primary: mat-palette($md-primary);
$my-app-accent:  mat-palette($md-accent);
$my-app-warn:    mat-palette($md-warn);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);