<div class="content-area">
  <div class="content">
    <div class="card card-stats sticky-top" id="date-filters">
      <div class="card-body row">
        <div class="col-sm-6">
          <h5>Date Filter</h5>
          <small>Select a date period</small>
        </div>
        <div class="col-sm-6">
          <div class="form-row">
            <div class="form-group">
              <label>From</label>
              <input type="date" [formControl]="chartsFrom" class="form-control" placeholder="from">
            </div>
            <div class="form-group ml-2">
              <label>To</label>
              <input type="date" [formControl]="chartsTo" class="form-control" placeholder="to">
            </div>
          </div>
        </div>
      </div>
    </div>
      <!--div class="section-wrapper">
          <div class="header actionbar align-content-top">
              <div class="title actionbar-section align-content-top">
                <h1>Dashboard</h1>
              </div>
          </div>
      </div-->
      <!--div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" *ngFor="let element of topCards">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4 p-0">
                  <div class="icon-big">
                    <mat-icon class="nc-icon" [ngClass]="element.class">{{element.icon}}</mat-icon>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">{{element.title}}</p>
                    <p class="card-title">{{element.subtitle}}</p>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <mat-icon>{{element.footer.icon}}</mat-icon> {{element.footer.text}}
              </div>
            </div>
          </div>
        </div>
      </div-->
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h5 class="card-title">Tasks Chart</h5>
              <p class="card-category">From {{chartsFrom.value}} to {{chartsTo.value}}</p>
            </div>
            <div class="card-body ">
              <div class="chartjs-labels">
                <span *ngFor="let label of tasksChartLabels">
                    <span class="square" [style.background-color]="label.color"></span>
                    {{label.name}}
                </span>
              </div>
              <div class="chart-wrapper">
                <canvas height="325" id="chartTasks" width="950" style="display: block; width: 950px; height: 325px;" class="chartjs-render-monitor"></canvas>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-history"></i> Updated 3 minutes ago 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card ">
            <div class="card-header ">
              <h5 class="card-title">Picking Plannings</h5>
              <p class="card-category">From {{chartsFrom.value}} to {{chartsTo.value}}</p>
            </div>
            <div class="card-body ">
              <div class="chart-wrapper">
                <canvas id="chartPlannings" width="250" height="325" class="chartjs-render-monitor" style="display: block; width: 250px; height: 325px;"></canvas>
              </div>
            </div>
            <!--div class="card-footer ">
              <div class="legend"><i class="fa fa-circle text-primary"></i> Opened <i class="fa fa-circle text-warning"></i> Read <i class="fa fa-circle text-danger"></i>                Deleted <i class="fa fa-circle text-gray"></i> Unopened </div>
              <hr>
              <div class="stats"><i class="fa fa-calendar"></i> Number of emails sent </div>
            </div-->
          </div>
        </div>
        <div class="col-md-8">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-title">Picking Plannings Progress</h5>
              <p class="card-category">From {{chartsFrom.value}} to {{chartsTo.value}}</p>
            </div>
            <div class="card-body">
                <div class="chartjs-labels">
                  <span *ngFor="let label of planningProgressChartLabels">
                      <span class="square" [style.background-color]="label.color"></span>
                      {{label.name}}
                  </span>
                </div>
              <div class="chart-wrapper">
                <canvas height="325" id="chartProgress" width="650" class="chartjs-render-monitor" style="display: block; width: 650px; height: 325px;"></canvas>
              </div>
            </div>
            <!--div class="card-footer">
              <div class="chart-legend"><i class="fa fa-circle text-info"></i> Tesla Model S <i class="fa fa-circle text-warning"></i> BMW 5 Series
                </div>
              <hr>
              <div class="card-stats"><i class="fa fa-check"></i> Data information certified </div>
            </div-->
          </div>
        </div>
      </div>
      <!--mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{card.title}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>Card Content Here</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list-->
  </div>
</div>
