.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: unset!important;
}
.readonly {
    pointer-events: none !important;
    cursor: not-allowed !important;
}
.mat-tab-body-content {
    margin-top: 3% !important;
}
table tbody tr.mat-row:hover {
    background: unset !important;
}
tr.example-detail-row {
  height: 0 !important;
}

tr.example-element-row:not(.example-detail-row):hover {
  background: whitesmoke !important;
}

tr.example-element-row:not(.example-detail-row):active {
  background: #efefef !important;
}

.example-element-row td {
  border-bottom-width: 0 !important;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description{
    padding: 16px;
}