<div class="content-area">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner class="spinner"></mat-spinner>
    </div>
    <div class="content">
      <div class="section-wrapper">
          <div class="header actionbar align-content-top">
              <div class="title actionbar-section align-content-top">
                  <h1>{{ pageTitle }}</h1>
              </div>
              <div class="actions actionbar-section right">
                <button mat-raised-button color="accent" (click)="print()">
                    <mat-icon>printer</mat-icon> <span class="btn-label">Print</span>
                </button>
                <button mat-raised-button color="warn" (click)="export()">
                    <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                </button>
              </div>
          </div>
      </div>
      <mat-card>
            <mat-card-content *ngIf="form">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <h6>Progress ({{form.get('progress').value}} %)</h6>
                    <mat-progress-bar matInput class="w-100" mode="determinate" [value]="form.get('progress').value"></mat-progress-bar>
                    <hr>
                    <mat-form-field class="col-sm-12 col-md-4 col-lg-3" [class.readonly]="viewMode === 'view'">
                        <mat-label>Target Dock</mat-label>
                        <mat-select [compareWith]="dataMap.targetDock.formControl.compareFn" formControlName="targetDock"
                        [class.readonly]="viewMode === 'view'">
                            <mat-option *ngFor="let dock of pickPlanningData.dockList" [value]="dock">
                                {{ dock.description }}
                            </mat-option>
                            <!--div class="select-footer" *ngIf="dataMap.orderType.addNew && viewMode === 'edit'">
                                <span class="select-footer-content">
                                    <a href="javascript: void(0)"
                                    (click)="addNewObject(importingTypes.ORDER_TYPE, 'Add new order type')">
                                        <mat-icon *ngIf="dataMap.orderType.addNew.icon">{{ dataMap.orderType.addNew.icon }}</mat-icon>
                                        <span>{{ dataMap.orderType.addNew.text }}</span>
                                    </a>
                                </span>
                            </div-->
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-sm-12 col-md-4 col-lg-3" [class.readonly]="viewMode === 'view'">
                        <mat-label>Process Date</mat-label>
                        <input matInput formControlName="processDate" [matDatepicker]="processDate"
                        [class.readonly]="viewMode === 'view'" readonly>
                        <mat-datepicker-toggle matSuffix [for]="processDate" [class.readonly]="viewMode === 'view'"></mat-datepicker-toggle>
                        <mat-datepicker #processDate ></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-sm-12 col-md-4 col-lg-3" [class.readonly]="viewMode === 'view'">
                        <mat-label>State</mat-label>
                        <mat-select [compareWith]="dataMap.state.formControl.compareFn" formControlName="state"
                        [class.readonly]="viewMode === 'view'">
                            <mat-option *ngFor="let state of pickPlanningData.pickPlanningStates" [value]="state">
                                {{ states[state] }}
                            </mat-option>
                            <!--div class="select-footer" *ngIf="dataMap.orderType.addNew && viewMode === 'edit'">
                                <span class="select-footer-content">
                                    <a href="javascript: void(0)"
                                    (click)="addNewObject(importingTypes.ORDER_TYPE, 'Add new order type')">
                                        <mat-icon *ngIf="dataMap.orderType.addNew.icon">{{ dataMap.orderType.addNew.icon }}</mat-icon>
                                        <span>{{ dataMap.orderType.addNew.text }}</span>
                                    </a>
                                </span>
                            </div-->
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-sm-12 col-md-4 col-lg-3" [class.readonly]="viewMode === 'view'">
                        <mat-label>Root Work</mat-label>
                        <input class="w-100" matInput type="text" formControlName="rootWork" [class.readonly]="viewMode === 'view'">
                    </mat-form-field>
                    <mat-form-field class="col-sm-12 col-md-12 col-lg-12" [class.readonly]="viewMode === 'view'">
                        <mat-label>Description</mat-label>
                        <textarea class="w-100" matInput formControlName="description" [class.readonly]="viewMode === 'view'">
                        </textarea>
                    </mat-form-field>
                    <hr>
                    <mat-tab-group class="tab-orders">
                        <mat-tab label="Tasks">
                            <ng-template matTabContent>
                                <div class="col-sm-12">
                                    <div class="col-sm-12 text-right mb-3">
                                        <a mat-raised-button color="warn" (click)="exportPickTasks()">
                                            <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                                        </a>
                                        <!--a mat-raised-button color="accent" (click)="addPickTask()" class="ml-2"
                                            *ngIf="viewMode === 'edit'">
                                            <mat-icon>add</mat-icon> <span class="btn-label">Add new</span>
                                        </a-->
                                    </div>
                                    <table mat-table [dataSource]="dataSource" matSort 
                                    [class.mat-table-hoverflow]="getDisplayedHeadersColumns().length > 12">
                                        <!-- Checkbox Column -->
                                        <ng-container matColumnDef="select">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                                    [checked]="selection.hasValue() && isAllSelected()"
                                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                    [aria-label]="checkboxLabel()">
                                                </mat-checkbox>
                                            </th>
                                            <td mat-cell *matCellDef="let row">
                                                <mat-checkbox (click)="$event.stopPropagation()"
                                                    (change)="$event ? selection.toggle(row) : null"
                                                    [checked]="selection.isSelected(row)"
                                                    [aria-label]="checkboxLabel(row)">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>
                                        <!-- Data Columns -->
                                        <ng-container [matColumnDef]="column" *ngFor="let column of displayedDataColumns">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ definitions[column].name | uppercase}} </th>
                                            <td mat-cell *matCellDef="let element"> {{ renderColumnData(definitions[column].type, element[column]) }} </td>
                                        </ng-container>
                                        <!-- Options Sticky Column -->
                                        <ng-container matColumnDef="options" stickyEnd>
                                            <th mat-header-cell *matHeaderCellDef [class.more-button-header]="true">
                                                {{'Options' | uppercase}}
                                                <a mat-icon-button [matMenuTriggerFor]="toggleColumns" aria-label="Toggle headers">
                                                    <mat-icon>more_vert</mat-icon>
                                                </a>
                                                
                                                <mat-menu #toggleColumns="matMenu" (click)="$event.stopPropagation()">
                                                    <span>
                                                        <a mat-menu-item (click)="toggleColumn()">Show all</a>
                                                        <a mat-menu-item  *ngFor="let column of getDefaultHeadersColumns();"
                                                        (click)="toggleColumn(column)">
                                                            <mat-icon color="accent">{{ column.show ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                                                            {{column.name}}
                                                        </a>
                                                    </span>
                                                </mat-menu>
                                            </th>
                                            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                                                <!--a mat-icon-button [routerLink]="['/pages/' + importingTypes.PICK_PLANNINGS + '/' + importingTypes.PICK_TASKS + '/view', element.id]">
                                                    <img src="assets/icons/zoom.png">
                                                </a>
                                                <a mat-icon-button (click)="['/pages/' + importingTypes.PICK_PLANNINGS + '/' + importingTypes.PICK_TASKS +'/edit', element.id]" *ngIf="viewMode === 'edit'">
                                                    <img src="assets/icons/page_edit.png">
                                                </a-->
                                                <!--a mat-icon-button [routerLink]="['/pages/' + type + '/view', element.code]">
                                                    <img src="assets/icons/zoom.png">
                                                </a>
                                                <a mat-icon-button [routerLink]="['/pages/' + type + '/edit', element.code]">
                                                    <img src="assets/icons/page_edit.png">
                                                </a-->
                                                <!--button mat-icon-button (click)="printRow(element)">
                                                    <img src="assets/icons/printer.png">
                                                </button-->
                                                <!--a mat-icon-button [href]="'/print/' + type + '/' + element.code" target="_blank">
                                                    <img src="assets/icons/printer.png">
                                                </a-->
                                                <!--a mat-icon-button (click)="deletePickTaskPrompt(element)" *ngIf="viewMode === 'edit'">
                                                    <img src="assets/icons/delete.png">
                                                </a-->
                                            </td>
                                        </ng-container>
                        
                                        <tr mat-header-row *matHeaderRowDef="getDisplayedHeadersColumns()"></tr>
                                        <!--tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumns();"
                                        [ngClass]="{'alert alert-danger': row.invalid}" (click)="editRow(row)"></tr-->
                                        <tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumns();"
                                        [ngClass]="{'alert alert-danger': row.invalid}" 
                                        [contextMenu]="basicMenu" [contextMenuSubject]="row"></tr>
                                    </table>
                                    <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
                                </div>
                                <context-menu #basicMenu>
                                    <ng-template contextMenuItem [subMenu]="statusSubmenu">
                                        Status
                                    </ng-template>
                                    <context-menu #statusSubmenu>
                                        <ng-template contextMenuItem
                                        (execute)="executeContext('activateTask', $event.item)">
                                            {{ selection.selected.length === 0 ? 'Activate task' :
                                             'Activate selected tasks'}}
                                        </ng-template>
                                        <ng-template contextMenuItem divider="true"></ng-template>
                                        <ng-template contextMenuItem 
                                        (execute)="executeContext('cancelTask', $event.item)">
                                        {{ selection.selected.length === 0 ? 'Cancel task' :
                                        'Cancel selected tasks'}}
                                        </ng-template>
                                    </context-menu>
                                    <ng-template contextMenuItem let-item [subMenu]="prioritySubmenu"
                                    *ngIf="selection.selected.length === 0">
                                        Priority ({{item?.priority}})
                                    </ng-template>
                                    <context-menu #prioritySubmenu>
                                        <ng-template contextMenuItem
                                        (execute)="executeContext('incrementPriority', $event.item)">
                                            Increment
                                        </ng-template>
                                        <ng-template contextMenuItem divider="true"></ng-template>
                                        <ng-template contextMenuItem 
                                        (execute)="executeContext('decrementPriority', $event.item)">
                                            Decrement
                                        </ng-template>
                                    </context-menu>
                                    <ng-template contextMenuItem divider="true"></ng-template>
                                    <ng-template contextMenuItem (execute)="executeContext('assignToUser', $event.item)">
                                            {{ selection.selected.length === 0 ? 'Assign task to user' :
                                            'Assign selected tasks to user'}}
                                    </ng-template>
                                    <ng-template contextMenuItem (execute)="executeContext('viewBySku', $event.item)"
                                    *ngIf="selection.selected.length === 0">
                                        View
                                    </ng-template>
                                    <!--context-menu #viewSubmenu>
                                        <ng-template contextMenuItem
                                        (execute)="executeContext('viewBySku', $event.item)">
                                            By Sku
                                        </ng-template>
                                        <ng-template contextMenuItem divider="true"></ng-template>
                                        <ng-template contextMenuItem
                                        (execute)="executeContext('viewByCode', $event.item)">
                                            By Code
                                        </ng-template>
                                    </context-menu-->
                                </context-menu>
                            </ng-template>
                            
                        </mat-tab>
                        <mat-tab label="Transports">
                            <ng-template matTabContent>
                                <div class="col-sm-12">
                                    <div class="col-sm-12 text-right mb-3">
                                        <a mat-raised-button color="warn" (click)="exportTransports()">
                                            <mat-icon color="accent">save_alt</mat-icon> <span class="btn-label">Export</span>
                                        </a>
                                        <!--a mat-raised-button color="accent" (click)="addTransport()" class="ml-2"
                                            *ngIf="viewMode === 'edit'">
                                            <mat-icon>add</mat-icon> <span class="btn-label">Add new</span>
                                        </a-->
                                    </div>
                                    <table mat-table [dataSource]="dataSourceTransports" matSort multiTemplateDataRows
                                    [class.mat-table-hoverflow]="getDisplayedHeadersColumnsTransports().length > 12">
                                        <!-- Checkbox Column -->
                                        <ng-container matColumnDef="select">
                                            <!--th mat-header-cell *matHeaderCellDef>
                                                <mat-checkbox (change)="$event ? masterToggleTransport() : null"
                                                    [checked]="selectionTransports.hasValue() && isAllSelectedTransports()"
                                                    [indeterminate]="selectionTransports.hasValue() && !isAllSelectedTransports()"
                                                    [aria-label]="checkboxLabelTransports()">
                                                </mat-checkbox>
                                            </th-->
                                            <td mat-cell *matCellDef="let row">
                                                <mat-checkbox (click)="$event.stopPropagation()"
                                                    (change)="$event ? selectionTransports.toggle(row) : null"
                                                    [checked]="selectionTransports.isSelected(row)"
                                                    [aria-label]="checkboxLabelTransports(row)">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>
                                        
                                        <!-- Data Columns -->
                                        <ng-container [matColumnDef]="column" *ngFor="let column of displayedDataColumnsTransports">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ definitionsTransports[column].name | uppercase}} </th>
                                            <td mat-cell *matCellDef="let element"> {{ renderColumnData(definitionsTransports[column].type, element[column]) }} </td>
                                        </ng-container>
                                        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                                        <ng-container matColumnDef="expandedDetail">
                                            <td mat-cell *matCellDef="let element" [attr.colspan]="getDisplayedHeadersColumnsTransports().length">
                                            <div class="example-element-detail"
                                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                                <div class="example-element-description w-100">
                                                    <h6>Orders List</h6>
                                                    <table class="table w-100">
                                                        <thead>
                                                            <tr>
                                                                <th>Number</th>
                                                                <th>Purchase</th>
                                                                <th>Invoice</th>
                                                                <th>Date</th>
                                                                <th>Delivery Date</th>
                                                                <th>Priority</th>
                                                                <th>Type</th>
                                                                <th>Customer</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let order of element.orders">
                                                                <td>{{order.orderNumber}}</td>
                                                                <td>{{order.purchaseNumber}}</td>
                                                                <td>{{order.invoiceNumber}}</td>
                                                                <td>{{order.orderDate}}</td>
                                                                <td>{{order.deliveryDate}}</td>
                                                                <td>{{order.priority}}</td>
                                                                <td>{{order.orderType.name}}</td>
                                                                <td>{{order.customer.name}}</td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            </td>
                                        </ng-container>
                                        <!-- Options Sticky Column -->
                                        <ng-container matColumnDef="options" stickyEnd>
                                            <th mat-header-cell *matHeaderCellDef [class.more-button-header]="true">
                                                {{'Options' | uppercase}}
                                                <a mat-icon-button [matMenuTriggerFor]="toggleColumnsT" aria-label="Toggle headers">
                                                    <mat-icon>more_vert</mat-icon>
                                                </a>
                                                
                                                <mat-menu #toggleColumnsT="matMenu" (click)="$event.stopPropagation()">
                                                    <span>
                                                        <a mat-menu-item (click)="toggleColumnTransports()">Show all</a>
                                                        <a mat-menu-item  *ngFor="let column of getDefaultHeadersColumnsTransports();"
                                                        (click)="toggleColumnTransports(column)">
                                                            <mat-icon color="accent">{{ column.show ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                                                            {{column.name}}
                                                        </a>
                                                    </span>
                                                </mat-menu>
                                            </th>
                                            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                                                <a mat-icon-button (click)="expandedElement = expandedElement === element ? null : element">
                                                    <mat-icon>add</mat-icon>
                                                </a>
                                                <!--a mat-icon-button (click)="['/pages/' + importingTypes.PICK_PLANNINGS + '/' + importingTypes.PICK_TASKS +'/edit', element.id]" *ngIf="viewMode === 'edit'">
                                                    <img src="assets/icons/page_edit.png">
                                                </a-->
                                                <!--a mat-icon-button [routerLink]="['/pages/' + type + '/view', element.code]">
                                                    <img src="assets/icons/zoom.png">
                                                </a>
                                                <a mat-icon-button [routerLink]="['/pages/' + type + '/edit', element.code]">
                                                    <img src="assets/icons/page_edit.png">
                                                </a-->
                                                <!--button mat-icon-button (click)="printRow(element)">
                                                    <img src="assets/icons/printer.png">
                                                </button-->
                                                <!--a mat-icon-button [href]="'/print/' + type + '/' + element.code" target="_blank">
                                                    <img src="assets/icons/printer.png">
                                                </a-->
                                                <!--a mat-icon-button (click)="deletePickTaskPrompt(element)" *ngIf="viewMode === 'edit'">
                                                    <img src="assets/icons/delete.png">
                                                </a-->
                                            </td>
                                        </ng-container>
                        
                                        <tr mat-header-row *matHeaderRowDef="getDisplayedHeadersColumnsTransports()"></tr>
                                        <!--tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumns();"
                                        [ngClass]="{'alert alert-danger': row.invalid}" (click)="editRow(row)"></tr-->
                                        <tr mat-row *matRowDef="let row; columns: getDisplayedHeadersColumnsTransports();"
                                        class="example-element-row"
                                        [ngClass]="{'alert alert-danger': row.invalid, 'example-expanded-row': expandedElement === row}"
                                        ></tr>
                                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                                    </table>
                                    <mat-paginator [length]="dataSourceTransports.data.length" [pageSize]="10" [pageSizeOptions]="pageSizeOptionsTransports"></mat-paginator>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                    <div class="col-sm-12 text-right">
                        <button mat-button type="submit" *ngIf="viewMode === 'edit'" [disabled]="isLoadingResults">SAVE</button>
                        <a mat-button [disabled]="isLoadingResults" (click)="back()">BACK</a>
                    </div>
                </form>
            </mat-card-content>
      </mat-card>
    </div>
</div>
