<mat-tab-group>
    <mat-tab label="Items">
      <div class="container-fluid p-3">
        <div class="row">
          <div class="col-sm-12">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  Recent Origins
                  <button mat-raised-button color="primary" class="more-button" (click)="clearStorage('items')">
                    <mat-icon>delete_sweep</mat-icon> <span class="btn-label">Clear All</span>
                  </button>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="example-loading-shade" *ngIf="isLoadingResults">
                  <mat-spinner *ngIf="isLoadingResults" class="spinner"></mat-spinner>
                </div>
                <mat-form-field class="w-100">
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilterItems($event, 'items')" placeholder="Ex. Feb, 14 2019" >
                </mat-form-field>
                  
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="itemsDataSource" matSort>
                    <!-- ID Column -->
                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[column].name | uppercase }} </th>
                      <td mat-cell *matCellDef="let element"> {{ renderColumnData(headers[column].type, element[column]) }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
  </mat-tab>
  <mat-tab label="Locations">
    <div class="container-fluid p-3">
      <div class="row">
        <div class="col-sm-12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Recent Origins
                <button mat-raised-button color="primary" class="more-button" (click)="clearStorage('locations')">
                  <mat-icon>delete_sweep</mat-icon> <span class="btn-label">Clear All</span>
                </button>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults" class="spinner"></mat-spinner>
              </div>
              <mat-form-field class="w-100">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event, 'locations')" placeholder="Ex. Feb, 14 2019" >
              </mat-form-field>
                
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="locationsDataSource" matSort>
                  <!-- ID Column -->
                  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[column].name | uppercase }} </th>
                    <td mat-cell *matCellDef="let element"> {{ renderColumnData(headers[column].type, element[column]) }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Orders">
      <div class="container-fluid p-3">
          <div class="row">
            <div class="col-sm-12">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                    Recent Origins
                    <button mat-raised-button color="primary" class="more-button" (click)="clearStorage('orders')">
                      <mat-icon>delete_sweep</mat-icon> <span class="btn-label">Clear All</span>
                    </button>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="example-loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults" class="spinner"></mat-spinner>
                  </div>
                  <mat-form-field class="w-100">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event, 'orders')" placeholder="Ex. Feb, 14 2019" >
                  </mat-form-field>
                    
                  <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="ordersDataSource" matSort>
                      <!-- ID Column -->
                      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ headers[column].name | uppercase }} </th>
                        <td mat-cell *matCellDef="let element"> {{ renderColumnData(headers[column].type, element[column]) }} </td>
                      </ng-container>
    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                      </tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
  </mat-tab>
</mat-tab-group>